<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.seller.products.mapper.ProductCategoryMapper">


    <resultMap id="productCategoryResultMap" type="ks55team02.seller.products.domain.ProductCategory">
        <id property="categoryId" column="ctgry_no"/>
        <result property="parentCategoryId" column="up_ctgry_no"/>
        <result property="userNo" column="creatr_no"/>
        <result property="categoryName" column="ctgry_nm"/>
        <result property="categoryLevel" column="ctgry_dpth"/>
        <result property="regDate" column="reg_dt"/>
    </resultMap>

    <select id="getAllProductCategories" resultMap="productCategoryResultMap">
        SELECT
            ctgry_no,
            up_ctgry_no,
            creatr_no,
            ctgry_nm,
            ctgry_dpth,
            reg_dt
        FROM
            product_categories
        ORDER BY
            ctgry_no ASC
    </select>

    <select id="getProductCategoriesByParentId" parameterType="string" resultMap="productCategoryResultMap">
        SELECT
            ctgry_no,
            up_ctgry_no,
            creatr_no,
            ctgry_nm,
            ctgry_dpth,
            reg_dt
        FROM
            product_categories
        WHERE
            up_ctgry_no = #{parentId}
        ORDER BY
            ctgry_no ASC
    </select>

    <select id="getPrimaryProductCategories" resultMap="productCategoryResultMap">
        SELECT
            ctgry_no,
            up_ctgry_no,
            creatr_no,
            ctgry_nm,
            ctgry_dpth,
            reg_dt
        FROM
            product_categories
        WHERE
            ctgry_dpth = 1            OR up_ctgry_no IS NULL  ORDER BY
            ctgry_no ASC
    </select>

</mapper>