<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/layoutMain}">
    <head>
        <link rel="stylesheet" th:href="@{/maincss/assets/customcustomercss/appStoreView.css}">
        <title>스토어 신청 페이지</title>
        <!-- 인라인 스타일 제거됨. 모든 CSS는 appStoreView.css에서 관리됩니다. -->
    </head>
    <body>
            <th:block layout:fragment="contents">
            <main class="main">
                <div class="container">
                    <!-- brnoModalFragment는 Thymeleaf 레이아웃에서 제공될 것으로 예상 -->
                    <div th:replace="~{customer/fragments/brnoModal :: brnoModalFragment}"></div>
                    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                        <div class="container">
                            <h1 class="page-title">스토어신청<span>Store</span></h1>
                        </div>
                    </div>
                    <nav aria-label="breadcrumb" class="breadcrumb-nav">
                        <div class="container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/main}">Home</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/customer/mypage}">My page</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </div>
                    </nav>  
                    
                    <div class="summary" id="container-body"> 
                        <div class="row">
                            <div class="col-lg-12 mx-auto"> 
                                <div class="row justify-content-center mt-5"> 
                                    <div class="col-lg-10"> 
                                        <div class="row"> 
                                            <div class="col-md-2"> 
                                                <div class="nav flex-column nav-pills me-3 border border-secondary rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                    <a class="nav-link active" id="tab1" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">신청자 정보 입력</a>
                                                    <a class="nav-link" id="tab2" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">스토어 정보 입력</a>
                                                    <a class="nav-link" id="tab3" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">제출 서류</a>
                                                </div>
                                            </div>

                                            <div class="col-md-10">
                                                <div class="tab-content tab-content-border" id="v-pills-tabContent">
                                                    
                                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                        <h6>신청자 정보</h6>
                                                        <div class="row mb-3"> 
                                                            <div class="col-lg-6">
                                                                <label>신청자 ID</label>
                                                                <div class="user-info" th:text="${userInfo.userLgnId}" id="applicantIdDisplay"></div>
                                                                <label>신청자 이름</label>
                                                                <div class="user-info" th:text="${userInfo.userNm}" id="applicantNameDisplay"></div>
                                                                <label>신청자 연락처</label>
                                                                <div class="user-info" th:text="${userInfo.telno}" id="applicantTelDisplay"></div>
                                                            </div>
                                                            <div class="col-lg-6">                                        
                                                                <label>예금 주</label>                                                 
                                                                <input type="text" class="form-control" id="dpstrNm" name="dpstrNm" required>                                                                                 
                                                                <label>은행 명</label>
                                                                <input type="text" class="form-control" id="bankNm" name="bankNm" required>                                                                                     
                                                                <label>계좌번호</label>
                                                                <input type="text" class="form-control" id="actno" name="actno" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                        <h6>스토어 정보</h6>
                                                        <div class="row mb-3"> 
                                                            <div class="col-lg-6">
                                                                <label>스토어 명</label>
                                                                <input type="text" class="form-control" id="storeNameInput" name="storeNm"> <!-- name 추가 -->
                                                                
                                                                <label>매니저 명</label>
                                                                <input type="text" class="form-control" id="managerNameInput" name="mngrNm"> <!-- name 추가 -->

                                                                <label>매니저 연락처</label>
                                                                <input type="text" class="form-control" id="managerTelInput" name="mngrTelNo"> <!-- name 추가 -->

                                                                <label>매니저 이메일</label>
                                                                <input type="text" class="form-control" id="managerEmailInput" name="mngrEml"> <!-- name 추가 -->
                                                                
                                                                 <label>수수료 비율</label>
                                                                <div class="row mb-3"> 
                                                            <div class="col-lg-3">
                                                                <div class="user-info" id="commissionRateCn">plcy_1</div>                                                                                                                       
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="user-info" id="commissionRateDisplay">일반 판매자 수수료 (18%)</div>    <!-- commissionRateDisplay -->                                                                                                                   
                                                            </div>
                                                            </div>
                                                            </div>
                                                            <div class="col-lg-6">    
                                                                <!-- 우편번호 찾기 -->                                    
                                                                <div class="address-container">
                                                                    <label>스토어 주소</label>
                                                                </div>
                                                                <input type="text" id="sample2_postcode" placeholder="우편번호" readonly="readonly" name="bplcPostCode"> <!-- name 추가 -->
                                                                <div class="postcode-search-wrapper"> 
                                                                    <input type="button" onclick="sample2_execDaumPostcode()" value="우편번호 찾기" class="address-btn">
                                                                </div>
                                                                
                                                                <input type="text" id="sample2_address" placeholder="주소" readonly="readonly" name="bplcAddr"> <!-- name 추가 -->
                                                                <input type="text" id="sample2_detailAddress" placeholder="상세주소" name="bplcDaddr"> <!-- name 추가 -->
                                                                <div id="layer">
                                                                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" onclick="closeDaumPostcode()" alt="닫기 버튼">
                                                                </div>
                                                                
                                                                <label class="cont">계약 신청일</label>
                                                                <input type="text" class="form-control" id="contractApplyDateInput" th:value="${todayDate}" readonly name="contractApplyDateInput"> <!-- name 추가 -->

                                                                <label>계약 기간</label>
                                                                <input type="text" class="form-control" id="contractTermInput" name="contractTermInput"> <!-- name 추가 -->
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 brno-intro">    
                                                            <!-- 사업자등록번호 조회 -->
                                                            <form action="#" onsubmit="return false;">
                                                                <label class="checkout-title">사업자등록번호 조회</label>
                                                                <div id="brnoStatusForm"> 
                                                                    <label for="brno"></label>
                                                                    <input class="brno-input" type="text" id="brno" name="brno" placeholder="'-' 없이 10자리 숫자를 입력하세요." pattern="[0-9]{10}" title="숫자 10자리를 입력해주세요." required>
                                                                    <button type="submit" id="checkBrnoButton" >조회</button> 
                                                                </div> 
                                                                <p class="re-btn">
                                                                    <button type="button" onclick="resetBrnoForm()" class="reinput">다시 입력하기</button>
                                                                </p>
                                                                <div id="apiResponseContainer" style="margin-top: 10px; font-weight: bold;"></div>
                                                            </form>
                                                            
                                                            <label>스토어 소개</label>
                                                            <textarea class="form-control" rows="5" placeholder="스토어 소개를 입력해주세요." id="storeIntroTextarea" name="storeIntroCn"></textarea> <!-- name 추가 -->
                                                        </div><!-- 모달 끝 -->
                                                    </div>

                                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                        <h6>제출 요구 서류</h6>
                                                        <div class="row mb-3"> 
                                                            <div class="col-lg-12">
                                                                <div id="table-head">
                                                                    <label>첨부 파일</label>
                                                                </div>
                                                                <table class="table table-reg">
                                                                    <thead>
                                                                        <tr class="table-head">
                                                                            <th>필요 문서</th>
                                                                            <th>첨부된 문서</th>
                                                                            <th>첨부 하기</th>
                                                                            <th>취소</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>사업자 등록증</td>
                                                                            <td id="attachedDocName1">
                                                                                <div class="fileName"></div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="file-upload-container">
                                                                                    <label for="file-upload-1" class="custom-file-upload">
                                                                                        파일 선택
                                                                                    </label>
                                                                                    <input id="file-upload-1" type="file"/>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" class="btn-cancel-file" id="cancel-file-1">취소</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>통신 판매업 신고증</td>
                                                                            <td id="attachedDocName2">
                                                                                <div class="fileName"></div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="file-upload-container">
                                                                                    <label for="file-upload-2" class="custom-file-upload">
                                                                                        파일 선택
                                                                                    </label>
                                                                                    <input id="file-upload-2" type="file"/>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" class="btn-cancel-file" id="cancel-file-2">취소</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>주민등록증 사본</td>
                                                                            <td id="attachedDocName4">
                                                                                <div class="fileName"></div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="file-upload-container">
                                                                                    <label for="file-upload-4" class="custom-file-upload">
                                                                                        파일 선택
                                                                                    </label>
                                                                                    <input id="file-upload-4" type="file"/>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" class="btn-cancel-file" id="cancel-file-4">취소</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>통장 사본</td>
                                                                            <td id="attachedDocName5">
                                                                                <div class="fileName"></div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="file-upload-container">
                                                                                    <label for="file-upload-5" class="custom-file-upload">
                                                                                        파일 선택
                                                                                    </label>
                                                                                    <input id="file-upload-5" type="file"/>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" class="btn-cancel-file" id="cancel-file-5">취소</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>판매상품 관련 증빙</td>
                                                                            <td id="attachedDocName3">
                                                                                <div class="fileName"></div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="file-upload-container">
                                                                                    <label for="file-upload-3" class="custom-file-upload">
                                                                                        파일 선택
                                                                                    </label>
                                                                                    <input id="file-upload-3" type="file"/>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" class="btn-cancel-file" id="cancel-file-3">취소</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>기타 서류</td>
                                                                            <td id="attachedDocNameETC">
                                                                                <div class="fileName"></div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="file-upload-container">
                                                                                    <label for="file-upload-6" class="custom-file-upload">
                                                                                        파일 선택
                                                                                    </label>
                                                                                    <input id="file-upload-6" type="file"/>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" class="btn-cancel-file" id="cancel-file-6">취소</button>
                                                                            </td>
                                                                            <tr>
                                                                                <td>상점 로고</td>
                                                                                <td id="storeLogo">
                                                                                    <div class="fileName"></div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="file-upload-container">
                                                                                        <label for="file-upload-7" class="custom-file-upload">
                                                                                            파일 선택
                                                                                        </label>
                                                                                        <input id="file-upload-7" type="file"/>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <button type="button" class="btn-cancel-file" id="cancel-file-7">취소</button>
                                                                                </td>
                                                                            </tr>
                                                                    </tbody>
                                                                </table>										 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                               
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper">
                            <button type="button" class="btn btn-outline-primary-2 btn-order btn-block" id="submitApplication">
                                <span class="btn-text">제출 하기</span>
                                <span class="btn-hover-text">제출 하기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </th:block>

        <th:block layout:fragment="jsFile">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" xintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script th:src="@{/maincss/assets/js/home_specific.js}"></script>
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        </th:block>

        <th:block layout:fragment="jsScript">
        <script>
    console.log("홈 페이지 스크립트 실행!");

    // UUID 생성 함수
    function generateUUID() {
        return crypto.randomUUID();
    }

    // HTML 본문 메시지 컨테이너 초기화 함수
    const apiResponseContainer = document.getElementById('apiResponseContainer');
    function clearApiResponseContainer() {
        if (apiResponseContainer) {
            apiResponseContainer.innerHTML = '';
            apiResponseContainer.style.color = 'inherit';
            apiResponseContainer.style.display = 'none';
        }
    }

    // 모달 내용 초기화 함수
    const brnoModalElement = document.getElementById('brnoModal');
    const brnoModal = new bootstrap.Modal(brnoModalElement);
    const modalApiResponseContainer = document.getElementById('modalApiResponseContainer');
    function clearModalContent() {
        if (modalApiResponseContainer) {
            modalApiResponseContainer.innerHTML = '';
        }
    }
    
    // "다시 입력하기" 버튼을 위한 함수
    function resetBrnoForm() {
        document.getElementById('brno').value = ''; 
        clearApiResponseContainer(); 
        clearModalContent(); 
        if (brnoModalElement) { 
            brnoModal.hide(); 
        }
        // 사업자등록번호 초기화 시, 조회 성공 플래그도 초기화
        isBrnoVerified = false; 
    }

    // 새로고침 기능
    function confirmReload() {
        if (confirm("새로고침을 하시겠습니까?")) {
            location.reload();
        }
    }

    // 주소 api
    var element_layer = document.getElementById('layer');
    function closeDaumPostcode() {
        element_layer.style.display = 'none';
    }
    function sample2_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                }

                document.getElementById('sample2_postcode').value = data.zonecode;
                document.getElementById("sample2_address").value = addr;
                document.getElementById("sample2_detailAddress").focus();
                element_layer.style.display = 'none';
            },
            width: '100%',
            height: '100%',
            maxSuggestItems: 5
        }).embed(element_layer);
        element_layer.style.display = 'block';
        initLayerPosition();
    }

    function initLayerPosition() {
        var width = 300;
        var height = 400;
        var borderWidth = 5;
        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid';
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
    }


    // --- 전역 변수로 사업자 번호 인증 상태 관리 ---
    let isBrnoVerified = false;

    document.addEventListener('DOMContentLoaded', function() {
        // 파일 등록 로직 (기존과 동일)
        const fileInputs = document.querySelectorAll('input[type="file"]');
        fileInputs.forEach(function(inputElement) {
            const inputIdNum = inputElement.id.split('-').pop();
            const cancelButton = document.getElementById('cancel-file-' + inputIdNum);

            inputElement.addEventListener('change', function() {
                const currentTd = this.closest('td');
                const prevTd = currentTd.previousElementSibling;
                const fileDiv = prevTd ? prevTd.querySelector('.fileName') : null;

                if (this.files && this.files.length > 0) {
                    const fileName = this.files[0].name;
                    if (fileDiv) {
                        fileDiv.textContent = fileName;
                    }
                    if (cancelButton) {
                        cancelButton.style.background = 'red';
                    }
                } else {
                    if (fileDiv) {
                        fileDiv.textContent = '';
                    }
                    if (cancelButton) {
                        cancelButton.style.background = 'grey';
                    }
                }
            });
            if (cancelButton) {
                cancelButton.addEventListener('click', function() {
                    inputElement.value = '';
                    const currentTd = inputElement.closest('td');
                    const prevTd = currentTd.previousElementSibling;
                    const fileDiv = prevTd ? prevTd.querySelector('.fileName') : null;
                    if (fileDiv) {
                        fileDiv.textContent = "";
                    }
                    this.style.background = 'grey';
                })
            }
        });
        
        // 사업자 등록정보 조회 로직
        const checkBrnoButton = document.getElementById('checkBrnoButton');
        const brnoInput = document.getElementById('brno');

        if (checkBrnoButton) {
            checkBrnoButton.addEventListener('click', function(event) {
                event.preventDefault();
                const brno = brnoInput.value;
                
                // 조회 시도 시, 이전 인증 상태 초기화
                isBrnoVerified = false;

                clearApiResponseContainer();
                clearModalContent();
                if (apiResponseContainer) {
                    apiResponseContainer.style.display = 'block';
                }

                if (!brno) {
                    if (apiResponseContainer) {
                        apiResponseContainer.innerHTML = '<span style="color: red;">사업자등록번호를 입력해주세요.</span>';
                    }
                    if (modalApiResponseContainer) {
                        modalApiResponseContainer.innerHTML = '<div class="error-message"><p>사업자등록번호를 입력해주세요.</p></div>';
                    }
                    brnoModal.show();
                    return;
                }

                fetch(`/api/brno/status?brno=${brno}`)
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(errorData => {
                                const errorMessage = errorData.message || '알 수 없는 서버 오류';
                                throw new Error(`HTTP 오류 ${response.status}: ${errorMessage}`);
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('국세청 API 응답:', data);

                        let modalHtml = '';
                        let mainMessage = '';

                        if (data && data.data && data.data.length > 0) {
                            const businessStatus = data.data[0];

                            if (businessStatus.b_stt_cd === '01') {
                                isBrnoVerified = true; // --- 인증 성공 플래그 설정 ---
                                mainMessage = '<span style="color: green;">조회에 성공했습니다. 이제 신청서를 제출할 수 있습니다.</span>';
                                modalHtml += '<div class="success-message"><p>조회에 성공했습니다.</p></div>';
                                brnoInput.value = businessStatus.b_no;
                            } else {
                                isBrnoVerified = false; // 인증 실패
                                mainMessage = '<span style="color: red;">잘못된 사업자 등록번호 입니다.</span>';
                                modalHtml += '<div class="error-message"><p>국세청에 등록되었으나, 현재 **' + (businessStatus.b_stt || '알 수 없는 상태') + '** 입니다.</p></div>';
                            }
                            
                            // (이하 모달 내용 생성 로직은 기존과 동일)
                            modalHtml += '<p>조회된 사업자등록번호: <strong>' + brno + '</strong></p>';
                            modalHtml += '<div class="brno-detail-table">'; 
                            modalHtml += '<div class="brno-row"><div class="brno-header">사업자번호</div><div class="brno-content">' + (businessStatus.b_no || '해당 없음') + '</div></div>'; 
                            modalHtml += '<div class="brno-row"><div class="brno-header">상태</div><div class="brno-content">' + (businessStatus.b_stt || '해당 없음') + ' (' + (businessStatus.b_stt_cd || '코드 없음') + ')</div></div>'; 
                            modalHtml += '<div class="brno-row"><div class="brno-header">과세 유형</div><div class="brno-content">' + (businessStatus.tax_type || '해당 없음') + '</div></div>'; 
                            if (businessStatus.end_dt && businessStatus.end_dt !== 'null') { 
                                modalHtml += '<div class="brno-row"><div class="brno-header">폐업일자</div><div class="brno-content">' + businessStatus.end_dt + '</div></div>'; 
                            }
                            modalHtml += '</div>'; 
                            
                        } else {
                            isBrnoVerified = false; // 인증 실패
                            mainMessage = '<span style="color: red;">잘못된 사업자 등록번호 입니다.</span>';
                            modalHtml += '<div class="error-message"><p>조회 결과가 없습니다. 사업자등록번호를 확인해주세요.</p></div>';
                            modalHtml += '<p>조회된 사업자등록번호: <strong>' + brno + '</strong></p>';
                        }

                        if (apiResponseContainer) {
                            apiResponseContainer.innerHTML = mainMessage;
                        }
                        if (modalApiResponseContainer) {
                            modalApiResponseContainer.innerHTML = modalHtml;
                        }
                        brnoModal.show();
                    })
                    .catch(error => {
                        isBrnoVerified = false; // 인증 실패
                        console.error('Fetch 에러:', error);
                        if (apiResponseContainer) {
                            apiResponseContainer.innerHTML = `<span style="color: red;">잘못된 사업자 등록번호 입니다.</span>`;
                        }
                        if (modalApiResponseContainer) {
                            modalApiResponseContainer.innerHTML = `<div class="error-message"><p>네트워크 오류 또는 예상치 못한 오류가 발생했습니다.</p><p>오류: ${error.message}</p></div>`;
                        }
                        brnoModal.show();
                    });
            });
        }
        
        // --- ★ 신규: 유효성 검사 및 포커스 이동 함수 ---
        function validateAndFocus() {
            const fieldsToValidate = [
                // [ID, 필드 이름]
                ['dpstrNm', '예금주'],
                ['bankNm', '은행명'],
                ['actno', '계좌번호'],
                ['storeNameInput', '스토어 명'],
                ['managerNameInput', '매니저 명'],
                ['managerTelInput', '매니저 연락처'],
                ['managerEmailInput', '매니저 이메일'],
                ['sample2_postcode', '우편번호'],
                ['sample2_address', '주소'],
                ['sample2_detailAddress', '상세주소'],
                ['contractTermInput', '계약 기간'],
                ['brno', '사업자등록번호'],
                ['storeIntroTextarea', '스토어 소개'],
                // 파일 유효성 검사 (필수 파일만)
                ['file-upload-1', '사업자 등록증'],
                // 필요 시 다른 필수 파일도 추가
                // ['file-upload-2', '통신 판매업 신고증'], 
            ];

            for (const [id, name] of fieldsToValidate) {
                const element = document.getElementById(id);
                if (!element.value) {
                    alert(`'${name}' 항목을(를) 입력 또는 첨부해주세요.`);
                    element.focus();
                    return false; // 유효성 검사 실패
                }
            }
            return true; // 모든 필드 유효
        }


        // "제출 하기" 버튼 클릭 이벤트 핸들러
        const submitApplicationButton = document.getElementById('submitApplication');
        if (submitApplicationButton) {
            submitApplicationButton.addEventListener('click', async function(event) {
                event.preventDefault();

                // --- ★ 신규: 사업자 번호 인증 여부 먼저 확인 ---
                if (!isBrnoVerified) {
                    alert('사업자등록번호를 조회하고 인증을 완료해주세요.');
                    document.getElementById('brno').focus(); // 사업자 번호 입력칸에 포커스
                    return; // 제출 프로세스 중단
                }
                
                // --- ★ 신규: 유효성 검사 및 포커스 이동 실행 ---
                if (!validateAndFocus()) {
                    return; // 유효성 검사 실패 시 제출 프로세스 중단
                }

                // (이하 로직은 기존과 동일, DTO에 맞춰 key값 수정된 버전)
                const formData = new FormData();
                
                formData.append('aplyUserNo', document.getElementById('applicantIdDisplay').textContent);
                formData.append('dpstrNm', document.getElementById('dpstrNm').value);
                formData.append('bankNm', document.getElementById('bankNm').value);
                formData.append('actno', document.getElementById('actno').value);
                formData.append('storeNm', document.getElementById('storeNameInput').value);
                formData.append('mngrNm', document.getElementById('managerNameInput').value);
                formData.append('mngrTelNo', document.getElementById('managerTelInput').value);
                formData.append('mngrEml', document.getElementById('managerEmailInput').value);
                formData.append('plcyId', document.getElementById('commissionRateCn').textContent);
                formData.append('storeIntroCn', document.getElementById('storeIntroTextarea').value);
                formData.append('brno', document.getElementById('brno').value);
                formData.append('bplcPostCode', document.getElementById('sample2_postcode').value);
                formData.append('bplcAddr', document.getElementById('sample2_address').value);
                formData.append('bplcDaddr', document.getElementById('sample2_detailAddress').value);
                formData.append('ctrtAplyYmd', document.getElementById('contractApplyDateInput').value); // DTO 필드명 ctrtAplyYmd
                formData.append('ctrtTermVal', document.getElementById('contractTermInput').value);   // DTO 필드명 ctrtTermVal
                

                const fileMappings = {
                    'file-upload-1': 'businessRegistrationDoc',
                    'file-upload-2': 'telecommunicationLicense',
                    'file-upload-3': 'productEvidence',
                    'file-upload-4': 'idCardCopy',
                    'file-upload-5': 'bankAccountCopy',
                    'file-upload-6': 'etcDocs',
                    'file-upload-7': 'storeLogoImg'
                };
                for (const [fileId, formFieldName] of Object.entries(fileMappings)) {
                    const fileInput = document.getElementById(fileId);
                    if (fileInput && fileInput.files.length > 0) {
                        formData.append(formFieldName, fileInput.files[0]);
                    }
                }

                console.log("---------- 전송될 FormData ----------");
                for (let [key, value] of formData.entries()) {
                    console.log(`${key}:`, value);
                }
                console.log("------------------------------------");

                try {
                    const response = await fetch('/store/appStore', {
                        method: 'POST',
                        body: formData
                    });
                    if (!response.ok) {
                        const errorMessage = await response.text();
                        alert(`신청 실패 (HTTP ${response.status}): \n${errorMessage}`);
                        return;
                    }
                    const successMessage = await response.text();
                    alert(successMessage);
                    location.reload();
                } catch (error) {
                    console.error('신청 제출 중 오류 발생:', error);
                    alert(`신청 제출 중 오류가 발생했습니다: ${error.message}`);
                }
            });
        }
        
        // 탭 버튼 활성화 로직 (기존과 동일)
        const tabs = document.querySelectorAll('#tab1, #tab2, #tab3, #tab4');
        tabs.forEach(tab => {
            tab.addEventListener('click', function() {
                tabs.forEach(t => t.classList.remove('active-tab'));
                this.classList.add('active-tab');
            });
        });
        if (tabs.length > 0) {
            tabs[0].classList.add('active-tab');
        }
    });
</script>
        </th:block>
    </body>
</html>
