<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/layoutMain}"> <head>
    <title>홈 페이지</title>
</head>
<body>
    <th:block layout:fragment="contents">
    
	

    </th:block>

    <th:block layout:fragment="jsFile">
    </th:block>

    <th:block layout:fragment="jsScript">
        <script>
            // 홈 페이지 전용 JavaScript 코드
            console.log("홈 페이지 스크립트 실행!");
        </script>
    </th:block>
</body>
</html>