<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.customer.post.mapper.PostMapper">

	<resultMap id="postResultMap" type="Post">
	    <id     column="pst_sn"         property="pstSn"/>
	    <result column="bbs_clsf_cd"    property="bbsClsfCd"/>
	    <result column="wrtr_user_no"   property="wrtrUserNo"/>
	    <result column="pst_ttl"        property="pstTtl"/>
	    <result column="pst_cn"         property="pstCn"/>
	    <result column="view_cnt"       property="viewCnt"/>
	    <result column="ntc_pst_yn"     property="ntcPstYn"/>
	    <result column="crt_dt"         property="crtDt"/>
	    <result column="mdfcn_dt"       property="mdfcnDt"/>
	    <result column="del_dt"         property="delDt"/>
	    <result column="cmnt_cnt" 		property="cmntCnt"/>
	    <result column="inter_cnt" 		property="interCnt"/>
	</resultMap>
	
	<resultMap id="userResultMap" type="UserList">
	    <id     column="user_no"            property="userNo"/>
	    <result column="mbr_grd_cd"         property="mbrGrdCd"/>
	    <result column="user_lgn_id"        property="userLgnId"/>
	    <result column="user_nm"            property="userNm"/>
	    <result column="gender_se_cd"       property="genderSeCd"/>
	    <result column="eml_addr"           property="emlAddr"/>
	    <result column="telno"              property="telno"/>
	    <result column="user_brdt"          property="userBrdt"/>
	    <result column="zip_cd"             property="zipCd"/>
	    <result column="addr"               property="addr"/>
	    <result column="daddr"              property="daddr"/>
	    <result column="user_ncnm"          property="userNcnm"/>
	    <result column="user_status"        property="userStatus"/>
	    <result column="join_dt"            property="joinDt"/>
	    <result column="whdwl_dt"           property="whdwlDt"/>
	    <result column="last_info_mdfcn_dt" property="lastInfoMdfcnDt"/>
	    <result column="last_login_dt"      property="lastLoginDt"/>
	</resultMap>
	
	<resultMap id="commentResultMap" type="Comment">
	    <id     column="pst_cmnt_sn"    property="pstCmntSn"/>
	    <result column="pst_sn"         property="pstSn"/>
	    <result column="wrtr_user_no"   property="wrtrUserNo"/>
	    <result column="prnt_cmnt_sn"   property="prntCmntSn"/>
	    <result column="cmnt_cn"        property="cmntCn"/>
	    <result column="crt_dt"         property="crtDt"/>
	    <result column="mdfcn_dt"       property="mdfcnDt"/>
	    <result column="del_dt"         property="delDt"/>
	    <result column="del_user_no"    property="delUserNo"/>
	    <result column="user_ncnm"      property="userNcnm"/>
	</resultMap>
	
	<resultMap id="InteractionResultMap" type="Interaction">
		<id 	column="pst_intract_sn" 	property="pstIntractSn"></id>
		<result column="pst_sn" 			property="pstSn"></result>
		<result column="user_no" 			property="userNo"></result>
		<result column="intract_type_cd" 	property="intractTypeCd"></result>
		<result column="crt_dt" 			property="crtDt"></result>
		<result column="rtrcn_dt" 			property="rtrcnDt"></result>
	</resultMap>
	
	<resultMap id="postListResultMap" type="Post" extends="postResultMap">
	    <association property="userInfo" javaType="UserList">
	        <result column="user_ncnm" property="userNcnm"/>
	    </association>
	</resultMap>
	
	<resultMap id="postDetailResultMap" type="Post" extends="postResultMap">
	    <association property="userInfo" resultMap="userResultMap"/>
	</resultMap>
	
	<resultMap id="commentListResultMap" type="Comment" extends="commentResultMap">
		<association property="userInfo" javaType="UserList">
			<result column="user_ncnm"  property="userNcnm"/>
		</association>
	</resultMap>
	
	<select id="selectMaxInterNumber" resultType="Integer">
		/* 추천 일련번호 생성 */
	    SELECT 
	    	MAX(CAST(SUBSTRING_INDEX(pst_intract_sn, '_', -1) AS UNSIGNED))
	    FROM 
	    	post_interactions pi
	    WHERE 
	    	pi.pst_intract_sn REGEXP '^pst_itrct_[0-9]+$';
	</select>
	
	<insert id="insertInterCount" parameterType="Interaction">
		/* 추천수 증가 */
		INSERT INTO post_interactions
			(pst_intract_sn, 
			pst_sn, 
			user_no, 
			intract_type_cd, 
			crt_dt, 
			rtrcn_dt)
		VALUES
			(#{pstIntractSn}, 
			#{pstSn}, 
			#{userNo}, 
			'like', 
			Now(), 
			null);
	</insert>
	
	<update id="updateViewCount" parameterType="String">
		/* 게시글 조회수 증가 */
		UPDATE
			posts p
		SET
			p.view_cnt = p.view_cnt + 1 
		WHERE
			p.pst_sn = #{pstSn};
	</update>
	
	<select id="selectPostListByBoardCd" parameterType="Post" resultMap="postListResultMap">
		/* 게시판 글 목록 조회 */
        SELECT
            p.pst_sn,
            p.bbs_clsf_cd,
            p.pst_ttl,
            p.pst_cn,
            p.view_cnt,
            p.ntc_pst_yn,
            p.crt_dt,
            p.mdfcn_dt,
            p.del_dt,
            b.bbs_nm,
            u.user_ncnm,
            (SELECT COUNT(pc.pst_cmnt_sn) FROM post_comments pc WHERE pc.pst_sn = p.pst_sn And pc.del_dt IS null) AS cmnt_cnt,
            (SELECT COUNT(pi.pst_intract_sn) FROM post_interactions pi WHERE pi.pst_sn = p.pst_sn AND pi.intract_type_cd = 'LIKE' AND pi.rtrcn_dt IS NULL) AS inter_cnt
        FROM 
        	posts p
        	JOIN boards b ON p.bbs_clsf_cd = b.bbs_clsf_cd
        	LEFT JOIN users u ON p.wrtr_user_no = u.user_no
        WHERE 
        	p.del_dt IS NULL
        	<if test="bbsClsfCd != null and bbsClsfCd != ''">
        		AND p.bbs_clsf_cd = #{bbsClsfCd}
        	</if>
        ORDER BY p.crt_dt DESC
        LIMIT #{limit} OFFSET #{offset};
	</select>

	<select id="selectPostListNumByBoardCd" resultType="int">
		/* 특정 게시판 게시글 갯수 조회 */
		SELECT
			COUNT(p.pst_sn)
		FROM
			posts p
		WHERE
			p.del_dt is null
			<if test="bbsClsfCd != null and bbsClsfCd != ''">
				AND p.bbs_clsf_cd = #{bbsClsfCd}
			</if>;
	</select>
	
	<select id="selectPostDetailByPstSn" parameterType="String" resultMap="postDetailResultMap">
		/* 특정 게시글 상세 조회 */
		SELECT
			p.pst_sn,
			p.bbs_clsf_cd,
			p.wrtr_user_no,
			u.user_ncnm,
			p.pst_ttl,
			p.pst_cn,
			p.view_cnt,
			p.ntc_pst_yn,
			p.crt_dt,
			p.mdfcn_dt,
			p.del_dt,
			(SELECT COUNT(pc.pst_cmnt_sn) FROM post_comments pc WHERE pc.pst_sn = p.pst_sn And pc.del_dt IS null) AS cmnt_cnt,
			(SELECT COUNT(pi.pst_intract_sn) FROM post_interactions pi WHERE pi.pst_sn = p.pst_sn AND pi.intract_type_cd = 'LIKE' AND pi.rtrcn_dt IS NULL) AS inter_cnt
		FROM
			posts p
			LEFT JOIN users u ON p.wrtr_user_no = u.user_no
		WHERE
			p.pst_sn = #{pstSn};
	</select>
	
	<select id="selectCommentListByPstSn" parameterType="String" resultMap="commentListResultMap">
		/* 특정 게시글의 댓글 목록 조회 */
		SELECT
			pc.pst_cmnt_sn,
			pc.pst_sn,
			pc.wrtr_user_no,
			u.user_ncnm,
			pc.cmnt_cn,
			pc.crt_dt
		FROM
			post_comments pc
			LEFT JOIN users u ON pc.wrtr_user_no = u.user_no
		WHERE
			pc.pst_sn = #{pstSn}
			AND pc.del_dt IS null;
	</select>
	
	<select id="selectMaxPostNumber" resultType="Integer">
		/* 게시글 일련번호 생성 */
	    SELECT 
	    	MAX(CAST(SUBSTRING_INDEX(pst_sn, '_', -1) AS UNSIGNED))
	    FROM 
	    	posts p
	    WHERE 
	    	p.pst_sn REGEXP '^post_[0-9]+$';
	</select>
	
	<insert id="insertPost" parameterType="Post">
		/* 게시글 등록 */
		INSERT INTO posts
		(pst_sn,
		bbs_clsf_cd,
		wrtr_user_no,
		pst_ttl,
		pst_cn,
		view_cnt,
		ntc_pst_yn,
		crt_dt,
		mdfcn_dt,
		del_dt)
		VALUES
		(#{pstSn},
		#{bbsClsfCd},
		#{wrtrUserNo},
		#{pstTtl},
		#{pstCn},
		0,
		0,
		Now(),
		null,
		null);
	</insert>
	
	<select id="selectMaxCommentNumber" resultType="Integer">
		/* 댓글 일련번호 생성 */
	    SELECT 
	    	MAX(CAST(SUBSTRING_INDEX(pst_cmnt_sn, '_', -1) AS UNSIGNED))
	    FROM 
	    	post_comments pc
	    WHERE 
	    	pc.pst_cmnt_sn REGEXP '^cmnt_[0-9]+$';
	</select>
	
	<insert id="insertComment" parameterType="Comment">
		/* 댓글 등록 */
		INSERT INTO post_comments
		(pst_cmnt_sn,
		pst_sn,
		wrtr_user_no,
		prnt_cmnt_sn,
		cmnt_cn,
		crt_dt,
		mdfcn_dt,
		del_dt,
		del_user_no)
		VALUES
		(#{pstCmntSn},
		#{pstSn},
		#{wrtrUserNo},
		null,
		#{cmntCn},
		Now(),
		null,
		null,
		null);
	</insert>
	
	<update id="updatePost" parameterType="Post">
		/* 게시글 수정 */
		UPDATE
			posts p
		SET
			p.bbs_clsf_cd = #{bbsClsfCd},
			p.pst_ttl = #{pstTtl},
			p.pst_cn = #{pstCn},
			p.mdfcn_dt = Now()
		WHERE
			p.pst_sn = #{pstSn};
	</update>
	
	<update id="deletePost" parameterType="String">
		/* 특정 게시글 삭제 */
		UPDATE
			posts p
		SET
			p.del_dt = Now()
		WHERE
			p.pst_sn = TRIM(#{pstSn});
	</update>
	
	<update id="updateComment" parameterType="Comment">
		/* 댓글 수정 */
		UPDATE
			post_comments pc
		SET
			pc.cmnt_cn = #{cmntCn},
			pc.mdfcn_dt = Now()
		WHERE
			pc.pst_cmnt_sn = #{pstCmntSn};
	</update>
	
	<update id="deleteComment" parameterType="String">
		/* 특정 댓글 삭제 */
		UPDATE
			post_comments pc
		SET
			pc.del_dt = Now()
		WHERE
			pc.pst_cmnt_sn = TRIM(#{pstCmntSn});
	</update>
</mapper>