<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="HTML5 Template">
<title>룩온(LookOn)</title>
<!-- ⭐⭐⭐ Favicon 설정 추가 시작 ⭐⭐⭐ -->
<link rel="icon" type="image/png"
	th:href="@{/favicons/lookonfavicon2.png}">

<!-- ⭐⭐⭐ Favicon 설정 추가 끝 ⭐⭐⭐ -->


<!-- 스타일 -->
<link rel="stylesheet"
	th:href="@{/maincss/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/css/plugins/owl-carousel/owl.carousel.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/css/plugins/magnific-popup/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/css/plugins/jquery.countdown.css}">
<link rel="stylesheet" th:href="@{/maincss/assets/css/style.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/css/skins/skin-demo-6.css}">
<link rel="stylesheet" th:href="@{/maincss/assets/css/demos/demo-6.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/customcustomercss/registerModale.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/mainHeader/mainHeader.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/categoryFilterModal/categoryFilterModal.css}">
<link rel="stylesheet"
	th:href="@{/maincss/assets/mainFooter/mainFooter.css}" />
<link rel="stylesheet"
	th:href="@{/maincss/assets/productToolbar/productToolbar.css}">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body th:data-auth-alert="${session.authAlert}"
	th:data-redirect-url="${session.redirectUrlAfterLogin}">

	<div class="screen-overlay"></div>

	<th:block th:if="${showFab != null and showFab}">

		<!-- === 신규 플로팅 버튼 컨테이너 === -->
		<div class="fab-container">
			<button type="button" id="create-feed-btn" class="fab-button"
				th:onclick="|location.href='@{/customer/feed/feedWrite}'|">
				<i class="bi bi-plus-lg"></i>
			</button>
		</div>

		<!-- 기존 'Top 이동' 버튼 (우리 CSS로 덮어쓰기 위해 여기에 위치) -->
		<button id="scroll-top" title="Back to Top" class="show">
			<i class="icon-arrow-up"></i>
		</button>

	</th:block>

	<div class="page-wrapper">
		<main class="main-wrap">
			<header
				th:replace="~{customer/fragments/mainHeader :: mainHeaderFragment}"></header>
			<!-- 이거 헤더 -->
			<section class="content-main">
				<th:block layout:fragment="contents"></th:block>
			</section>

			<footer th:replace="~{customer/fragments/footer :: footerFragment}"></footer>
		</main>
	</div>
	<div
		th:replace="~{customer/fragments/loginRegisterModals :: signinModalFragment}"></div>
	<!-- 로그인 및 회원가입 모달 -->
	<div
		th:replace="~{customer/fragments/categoryFilterModal :: categoryFilterModalFragment}"></div>
	<!-- 이거 햄버거 모달 -->
	<div th:replace="~{customer/fragments/brnoModal :: brnoModalFragment}"></div>
	<!-- 사업자 등록 번호 조회 -->

	<script th:src="@{/maincss/assets/js/jquery.min.js}"></script>
	<script th:src="@{/maincss/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/maincss/assets/js/jquery.hoverIntent.min.js}"></script>
	<script th:src="@{/maincss/assets/js/jquery.waypoints.min.js}"></script>
	<script th:src="@{/maincss/assets/js/superfish.min.js}"></script>
	<script th:src="@{/maincss/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/maincss/assets/js/jquery.plugin.min.js}"></script>
	<script th:src="@{/maincss/assets/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/maincss/assets/js/jquery.countdown.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script th:src="@{/js/customerjs/register.js}"></script>
	<script th:src="@{/js/customerjs/login.js}"></script>
	<script th:src="@{/js/customerjs/loginCheckInterceptor.js}"></script>

	<th:block layout:fragment="jsFile"></th:block>

	<script th:src="@{/maincss/assets/js/main.js}"></script>
	<script th:src="@{/maincss/assets/js/demos/demo-2.js}"></script>

	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<script th:src="@{/maincss/assets/js/demos/demo-2.js}"></script>
	<script th:src="@{/maincss/assets/js/customer/customer-pagination.js}"></script>

	<script
		th:src="@{/maincss/assets/categoryFilterModal/categoryFilterModal.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- <script th:src="@{/maincss/assets/js/customer/feedWriteBtn.js}"></script> 지성 수정 경로에 없다는데 이거 왜있는거야? -->
	<!-- 이건 따로 빼서 사용할수없어서 여기 있는 거에여 -->
	<!-- 이스크립트 코드 사용처는 비로그인 사용자 접근 막는 용도 에여 -->



	<script th:inline="javascript">
		/*<![CDATA[*/
		// authAlert 값이 실제로 존재하는 경우에만 세션 클리어 요청을 보냅니다.
		const authAlert = /*[[${session.authAlert}]]*/null;
		if (authAlert) {
			// 이 AJAX 요청은 페이지 로딩과 비동기적으로 실행되므로 다른 스크립트에 영향을 주지 않습니다.
			$.ajax({
				url : '/customer/clearLoginInterceptorSession',
				type : 'GET'
			});
		}
		/*]]>*/
	</script>



	<th:block layout:fragment="jsScript"></th:block>
</body>
</html>