<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>project infomation</title>
	<link rel="stylesheet" href="/git/css/common-css.css">
	<link rel="stylesheet" href="/git/css/font/font.css">
	<style>
		#wrap {
			margin: 50px 0;

		}
		* {
			text-align: center;
			margin: 0;
			padding: 0;
		}
		.info-title-area h3 {
			color: var(--maincolor);
		}
		table, tr, td {
			border: 1px solid var(--borderColor);
			border-collapse : collapse;
			font-size: 13px;
		}
		td {
			padding: 20px;
		}
		li {
			margin: 5px 0;
		}
		ul, li,
		ul p, ul h5 {
			text-align : left;

		}
		ul p {
			color: #858585;
		}
		.sub-list {
			padding-left: 30px;
		}
		.sub-list li {
			color: #adadad;
			font-weight: 300;
		}
		ul h5 {
			font-size: 14px;
			margin: 5px 0;
		}
		.info-table {
			width: 600px;
			margin: 0 auto;
		}
		.table-th {
			background: #f5f6fa;
			width: 20%;
			font-weight: 700;
		}
		#title {
			font-size: 42px;
			line-height: 1.2;
			margin: 15px 0 35px;
			color: #191919;
			font-weight: 800;
		}
		.menu-title {
			font-size: 16px;
			margin: 10px 0 10px;
			display: block;
			text-align: left;
			font-weight: 700;
		}
		.title-li {
			margin-bottom: 20px;
		}
		.icon-link-container {
		    text-align: center; 
		    margin: 5px 0; 
		}
		.icon-link {
		    display: inline-block;
    		margin: 0 5px;
		}
	    .icon-link:hover img {
	        transform: scale(1.1); 
	    }
	    .icon-link img {
	        transition: transform 0.3s ease, opacity 0.3s ease;
	        display: inline-block; 
    		vertical-align: middle;
	    }
		.text-center{
			text-align: center;
		}
	    
	</style>
</head>
<body>
	<div id="wrap">
		<div class="info-title-area">
			<h3 >한국스마트정보교육원 55기 2팀</h3>
			<h1 id="title">
				팀프로젝트 프로젝트명	
			</h1>
			<div class="icon-link-container">
				<a href="https://github.com/jmh118/ks52team02" target="_blank" class="icon-link">
			        <img alt="github" src="/git/img/github-logo.png" style="width: 50px">
			    </a>
			</div>
		</div>		
		<BR>
		<table class="info-table"  style="margin-top: 15px;">
			<tbody>	
				<tr class="table-th">
					<td class="table-th">
						<a class="menu-title text-center" 
				           href="/?showLogin=true&id=ordertest&pw=a12345678!">
				           일반사용자 메인화면
				        </a>
					</td>
					<td class="table-th">
						<a class="menu-title text-center" 
				           href="/seller/login?id=fashionking150&pw=seller1!">
				           판매자 메인화면
				        </a>
					</td>
					<td class="table-th">
						<a class="menu-title text-center" 
				           href="/adminpage/login?id=superadmin&pw=superadmin12!">
				           관리자 메인화면
				        </a>
					</td>
				</tr>	
				<tr>
					<td class="table-th">
						사용자 계정
					</td>
					<td class="table-th">
						판매자 계정
					</td>
					<td class="table-th">
						관리자 계정
					</td>
				</tr>
				<tr>
					<td style="color: #858585;">
						아이디 : ordertest<br>
						비밀번호 : a12345678!<br>
					</td>
					<td style="color: #858585;">
						아이디 : fashionking150<br>
						비밀번호 : seller1!<br>
					</td>
					<td style="color: #858585;">
						아이디 : superadmin<br>
						비밀번호 : superadmin12!<br>
					</td>
				</tr>
				
			</tbody>
		</table>
		<table class="info-table" style="margin-top: 30px;">
			<tbody>
				<tr>
					<td class="table-th">
						<p>김성주</p> <BR> <a href="#" target="_blank" class="icon-link">
							<img alt="github" src="/git/img/github-logo.png"
							style="width: 25px">
					</a>
					</td>
					<td colspan="2">
						<ul style="padding-left: 15px;">
							<li class="title-li"><a class="menu-title" target="_blank">회원</a>
								<H5>1. 회원가입 및 로그인 모달창</H5>
								<ul class="sub-list">
									<li><a href="/?showLogin=true&id=ordertest&pw=a12345678!">로그인 및 회원가입 모달창</a></li>
								</ul> <BR>
								<H5>2. 마이페이지</H5>
								<ul class="sub-list">
									<li><a th:href="@{/customer/mypage}">마이 페이지</a></li>
									<li><a th:href="@{/aditinfo?tab=edit-info}">회원 정보수정</a></li>
									<li><a th:href="@{/aditinfo?tab=manage-profile}">프로필 저장</a></li>
									<li><a th:href="@{/aditinfo?tab=security-settings}">비밀번호 변경</a></li>
									<li><a th:href="@{/mypage/withdraw}">회원 탈퇴</a></li>
								</ul></li>
							<li class="title-li"><a class="menu-title" target="_blank">판매자</a>
								<H5>1. 판매자 로그인</H5>
								<ul class="sub-list">
									<li><a href="/seller/login?id=fashionking150&pw=seller1#">판매자 페이지 로그인</a></li>
								</ul>
								<H5>2. 마이페이지</H5>
								<ul class="sub-list">
									<li><a th:href="@{/customer/mypage}">마이 페이지</a></li>
									<li><a th:href="@{/aditinfo?tab=edit-info}">회원 정보수정</a></li>
									<li><a th:href="@{/aditinfo?tab=manage-profile}">프로필 저장</a></li>
									<li><a th:href="@{/aditinfo?tab=security-settings}">비밀번호 변경</a></li>
									<li><a th:href="@{/mypage/withdraw}">회원 탈퇴</a></li>
								</ul></li>
							<li class="title-li"><a class="menu-title" target="_blank">관리자</a>
								<H5>1. 관리자 로그인</H5>
								<ul class="sub-list">
									<li><a href="/adminpage/login?id=superadmin&pw=superadmin12!">관리자 페이지 로그인</a></li>
								</ul>
								<H5>관리자 페이지</H5>
								<ul class="sub-list">
									<li><a th:href="@{/adminpage/dashboard}">관리자 대시보드</a></li>
									<li><a th:href="@{/adminpage/useradmin/userList}">회원정보 조회 및 수정</a></li>
									<li><a th:href="@{/adminpage/useradmin/loginHistory}">로그인 기록 조회</a></li>
								</ul> <BR>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>정성훈</p> <BR> <a href="#" target="_blank" class="icon-link">
							<img alt="github" src="/git/img/github-logo.png"
							style="width: 25px">
					</a>
					</td>
					<td colspan="2">
						<ul style="padding-left: 15px;">
							<li class="title-li"><a class="menu-title" target="_blank">사용자</a>
								<H5>1. 메인페이지</H5>
								<p>사용자가 처음 진입하는 메인페이지 화면</p>
								<ul class="sub-list">
									<li><a th:href="@{/}">메인페이지</a></li>
									<li>카테고리별 조회 모달 기능</li>
									<li>상품 유형별 슬라이드 기능</li>
								</ul> <BR>
								<H5>2. 상품페이지</H5>
								<p>사용자가 진입하는 상품화면</p>
								<ul class="sub-list">
									<li><a th:href="@{/customer/products/list}">유형별 상품목록화면</a></li>
									<li><a th:href="@{/customer/products/list?brand=store_1}">브랜드
											상품목록화면</a></li>
									<li><a th:href="@{/products/detail/gds_no_2049}">상품상세화면</a></li>
									<li>상품 옵션별 조회 기능</li>
								</ul> <BR></li>
							<li class="title-li"><a class="menu-title" target="_blank">판매자</a>
								<H5>1. 상품관리</H5>
								<p>판매자가 상품을 관리하는 화면</p>
								<ul class="sub-list">
									<li><a th:href="@{/seller/products/list}">상품목록 - 조회,
											등록, 수정, 삭제</a></li>
									<li><a th:href="@{/seller/products/registration}">상품등록화면</a></li>
								</ul></li>
							<li class="title-li"><a class="menu-title" target="_blank">관리자</a>
								<H5>1. 상품 승인/반려 관리</H5>
								<p>판매자가 제출한 상품을 승인/반려하는 화면</p>
								<ul class="sub-list">
									<li><a
										th:href="@{/adminpage/productadmin/adminProductManagement}">상품
											승인/반려 화면</a></li>
								</ul>
								<H5>2. 카테고리관리</H5>
								<p>등록된 카테고리를 관리하는 화면</p>
								<ul class="sub-list">
									<li><a
										th:href="@{/adminpage/productadmin/adminCategoryManagement}">카테고리관리
											- 조회, 등록, 수정, 삭제</a></li>
								</ul></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>서요셉</p> <BR> <a href="#" target="_blank" class="icon-link">
							<img alt="github" src="/git/img/github-logo.png"
							style="width: 25px">
					</a>
					</td>
					<td colspan="2">
						<ul style="padding-left: 15px;">
							<li class="title-li"><a class="menu-title" target="_blank">회원</a>
								<H5>1. 커뮤니티 게시판</H5>
								<p>사용자들의 커뮤니티 공간</p>
								<ul class="sub-list">
									<li><a th:href="@{/customer/post/postList}">게시글 목록 페이지</a></li>
									<li><a th:href="@{/customer/post/postWrite}">게시글 등록/수정 페이지</a></li>
									<li><a href="/customer/post/postDetail?pstSn=post_178">예시게시글 상세 페이지</a></li>
								</ul> <BR>
								<H5>2. 피드</H5>
								<p>사용자들의 피드 공간</p>
								<ul class="sub-list">
									<li><a th:href="@{/customer/feed/feedList}">피드 목록 페이지</a></li>
									<li><a th:href="@{/customer/feed/feedListByUserNo}">마이피드 페이지</a></li>
									<li><a th:href="@{/customer/feed/feedWrite}">피드 등록 페이지</a></li>
									<li><a href="/customer/feed/feedDetail/feed_702?context=all">예시피드 상세 페이지</a></li>
								</ul></li>
							<li class="title-li"><a class="menu-title" target="_blank">관리자</a>
								<H5>3. 피드 및 커뮤니티 게시판 관리</H5>
								<p>관리자가 커뮤니티를 관리하는 공간</p>
								<ul class="sub-list">
									<li><a th:href="@{/adminpage/boardadmin/boardManagement}">게시판 관리 페이지</a></li>
									<li><a th:href="@{/adminpage/boardadmin/postManagement}">게시글 관리 페이지</a></li>
									<li><a th:href="@{/adminpage/boardadmin/postManagement/write}">공지사항/이벤트 작성 페이지</a></li>
									<li><a th:href="@{/adminpage/boardadmin/feedManagement}">피드 관리 페이지</a></li>
								</ul></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>이건영</p> <BR> <a href="#" target="_blank" class="icon-link">
							<img alt="github" src="/git/img/github-logo.png"
							style="width: 25px">
					</a>
					</td>
					<td colspan="2">
						<ul style="padding-left: 15px;">
							<li class="title-li"><a class="menu-title" target="_blank">로그인</a>
							</li>
							<li class="title-li"><a class="menu-title" target="_blank">사용자</a>
								<H5>1. 일반 사용자 장바구니</H5>
								<p>구매할 물품을 장바구니에 보관하는 화면</p>
								<ul class="sub-list">
									<li><a th:href="@{/cart}">장바구니</a></li>
								</ul> <BR>

								<H5>2. 일반 사용자 결제 및 결재 내역</H5>
								<p>toss api 연동 화면 결제 완료 후 결제 내역 및 배송화면</p>
								<ul class="sub-list">
									<li><a th:href="@{/checkout}">결제</a></li>
									<li><a th:href="@{/paymentHistory}">결제 내역</a></li>
									<li><a th:href="@{/track-delivery}">배송</a></li>
								</ul> <BR></li>
							<li class="title-li"><a class="menu-title" target="_blank">관리자</a>
								<H5>3. 관리자 구독권</H5>
								<p>관리자가 구독권을 등록 / 수정,삭제 할 수 있는 화면</p>
								<ul class="sub-list">
									<li><a th:href="@{/adminpage/storeadmin/premiumAdd}">구독권
											등록</a></li>
									<li><a th:href="@{/adminpage/storeadmin/list}">등록된 구독권
											리스트[수정/삭제]</a></li>
								</ul> <BR>

								<H5>4. 관리자 스토어 정산</H5>
								<p>관리자가 스토어에게 수수료에 맞게 정산해주는 화면</p>
								<ul class="sub-list">
									<li><a
										th:href="@{/adminpage/storeadmin/settlementDetailByStore}">스토어
											정산</a></li>
								</ul></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>이지성</p> <BR> <a href="#" target="_blank" class="icon-link">
							<img alt="github" src="/git/img/github-logo.png"
							style="width: 25px">
					</a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">						
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 문의 리스트 조회</H5>
								<p>일반 회원의 문의를 조회하는 화면</p>
								<ul class="sub-list">

								    <li><a href="/customer/inquiry/FAQ">자주 묻는 질문 페이지</a></li>
								    <li><a href="/customer/inquiry/inquiryList">문의 리스트 조회</a></li>
								    <li><a href="/customer/inquiry/inquiryDetail?inquiryId=inq_120">개별 문의 페이지</a></li>
								    <li><a href="/customer/inquiry/addInquiry">문의 등록 페이지</a></li>

								</ul>
								<h5>2. 상점 신청 페이지</h5>
								<p>일반 회원이 판매자로 전환 신청하는 페이지</p>
								<ul class="sub-list">

								    <li><a href="/store/appStore">상점 신청 페이지</a></li>
								</ul>
								<h5>2. 상품 리뷰 페이지</h5>
								<p>구매한 상품에 리뷰 페이지</p>
								<ul class="sub-list">

								    <li>상품 리뷰 및 작성 페이지</li>
								</ul>
								<a class="menu-title" target="_blank">판매자</a>

								<h5>1. 상점 관리</h5>
								<p>판매자가 상점을 관리하는 페이지</p>
								<ul class="sub-list">

								    <li><a href="/seller">상점 관리 페이지 메인</a></li>
								    <li><a href="/seller/inquiry/sellerInquiryList">상점 문의 목록 페이지</a></li>
								    <li><a href="/seller/inquiry/sellerInquiryDetail?inqryId=inq_112">상점 문의 관리 페이지</a></li>

								</ul>

								<li class="title-li">
								    <a class="menu-title" target="_blank">관리자</a>
								    <h5>1. 상점 신청 관리</h5>
								    <p>상점 신청 관리</p>
								    <ul class="sub-list">
								        <li><a href="/adminpage/storeadmin/appAdmin">상점 신청 목록 조회</a></li>
								        <li><a href="/adminpage/storeadmin/appDetail?aplyId=aply_50">상점 신청 관리 페이지</a></li>
								    </ul>
								    <p>상점 관리</p>
								    <ul class="sub-list">
								        <li><a href="/adminpage/storeadmin/storeMngAdmin">상점 목록 조회</a></li>
								    </ul>
								    <p>리뷰 관리</p>
								    <ul class="sub-list">
								        <li><a href="/adminpage/storeadmin/reviewAdmin">리뷰 목록 조회</a></li>
								    </ul>
								    <p>문의 관리</p>
								    <ul class="sub-list">
								        <li><a href="/admin/inquiry/adminInquiryList">문의 목록 조회</a></li>
								        <li><a href="/admin/inquiry/adminInquiryDetail?inqryId=inq_120">문의 관리 페이지</a></li>
								    </ul>

								</ul>

					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>염가은</p> <BR> <a href="#" target="_blank" class="icon-link">
							<img alt="github" src="/git/img/github-logo.png"
							style="width: 25px">
					</a>
					</td>
					<td colspan="2">
						<ul style="padding-left: 15px;">
							<li class="title-li"><a class="menu-title" target="_blank">부가
									기능</a></li>
							<li class="title-li"><a class="menu-title" target="_blank">사용자</a>
								<H5>1. 쿠폰</H5>
								<p>사용자 쿠폰 페이지</p>
								<ul class="sub-list">
									<li><a th:href="@{/customer/coupons}">사용자 쿠폰</a></li>
								</ul> <BR>
								<H5>2. 검색</H5>
								<p>사용자 검색 페이지</p>
								<ul class="sub-list">
									<li><a th:href="@{/customer/searchResult}">사용자 검색 결과</a></li>
								</ul> <BR>
								<H5>3. 신고</H5>
								<p>사용자 신고 페이지</p>
								<ul class="sub-list">
									<li><a th:href="@{/customer/reports}">사용자 신고 접수</a></li>
									<li><a th:href="@{/customer/myReports}">사용자 내 신고 내역</a></li>
								</ul>
								
							<li class="title-li"><a class="menu-title" target="_blank">관리자</a>
								<H5>1. 쿠폰</H5>
								<p>관리자 쿠폰 페이지</p>
								<ul class="sub-list">
									<li><a th:href="@{/adminpage/useradmin/createCoupons}">관리자
											쿠폰 생성</a></li>
									<li><a th:href="@{/adminpage/useradmin/memberCoupons}">관리자
											회원 쿠폰 조회</a></li>
									<li><a th:href="@{/adminpage/useradmin/couponsList}">관리자
											쿠폰 목록 조회</a></li>

								</ul> <BR>
								<H5>2. 검색</H5>
								<p>관리자 검색 페이지</p>
								<ul class="sub-list">
									<li><a th:href="@{/adminpage/useradmin/search}">관리자 검색
											기록 조회</a></li>
								</ul> <BR>
								<H5>3. 신고</H5>
								<p>관리자 신고 페이지</p>
								<ul class="sub-list">
									<li><a th:href="@{/adminpage/inquiryadmin/reportsList}">관리자
											신고 목록 조회</a></li>
									<li><a th:href="@{/adminpage/inquiryadmin/reportsDetail}">관리자
											신고 상세 처리</a></li>
								</ul> <BR>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>