<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside class="navbar-aside" id="offcanvas_aside" th:fragment="asideFragments">
        <div class="aside-top">
            <a href="main.html" class="brand-wrap">
                <!-- <img src="/admincss/assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" th:href="@{/main}" /> -->
            </a>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/adminpage">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">홈으로 이동</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">회원관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/adminpage/useradmin/userList}">회원목록조회</a>
                        <a th:href="@{/adminpage/useradmin/loginHistory}">로그인기록조회</a>
                        <a th:href="@{/adminpage/useradmin/search}">검색 기록 조회</a>
                        <a th:href="@{/adminpage/useradmin/chatLog}">채팅 로그 조회</a>
                        <a th:href="@{/adminpage/useradmin/memberCoupons}">회원 쿠폰 조회</a>
                        <a th:href="@{/adminpage/useradmin/couponsList}">쿠폰 목록 조회</a>
                        <a th:href="@{/adminpage/useradmin/createCoupons}">쿠폰 생성</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">상품관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/adminpage/productadmin/adminProductManagement}">상품관리</a>
                        <a th:href="@{/adminpage/productadmin/adminCategoryManagement}">카테고리 관리</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">게시판관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/adminpage/boardadmin/boardManagement}">게시판 관리</a>
                        <a th:href="@{/adminpage/boardadmin/commentManagement}">댓글 관리</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">상점관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/adminpage/storeadmin/appAdmin}">상점 신청 관리</a>
                        <a th:href="@{/adminpage/storeadmin/storeAdminManagementView}">상점 관리</a>
                        <a th:href="@{/adminpage/storeadmin/settlementDetailByStore}">상점별 정산 내역 조회</a>
                        <a th:href="@{/adminpage/storeadmin/premiumAdd}">구독권 추가</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">문의 및 신고관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/adminpage/inquiryadmin/inqueryAdminView}">문의 목록 조회</a>
                        <a th:href="@{/adminpage/inquiryadmin/reportsList}">신고 목록 조회</a>
                        <a th:href="@{/adminpage/inquiryadmin/reportsDetail}">신고 상세 처리</a>
                    </div>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>
</html>