<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ks55team02.tossApi.mapper.PaymentMapper">
	<resultMap type="Payment" id="paymentResultMap">
		<id 	column="stlm_id" 		property="stlmId" /> 
		<result column="ordr_no" 		property="ordrNo" />
		<result column="user_no" 		property="userNo" />
		<result column="stlm_mthd_cd" 	property="stlmMthdCd" />
		<result column="stlm_amt" 		property="stlmAmt" />
		<result column="stlm_stts_cd" 	property="stlmSttsCd" />
		<result column="pg_dlng_id" 	property="pgDlngId" />
		<result column="pg_co_info" 	property="pgCoInfo" />
		<result column="stlm_cmptn_dt" 	property="stlmCmptnDt" />
		<result column="stlm_dmnd_dt" 	property="stlmDmndDt" />
	</resultMap>
	
    <insert id="savePayment" parameterType="ks55team02.tossApi.domain.Payment">
    	/* 결제 정보 테이블 */
        INSERT INTO payments (
            stlm_id,      ordr_no,      user_no,
            stlm_mthd_cd, stlm_amt,     stlm_stts_cd,
            pg_dlng_id,   pg_co_info,   stlm_cmptn_dt,
            stlm_dmnd_dt
        ) VALUES (
            #{stlmId},        #{ordrNo},        #{userNo},
            #{stlmMthdCd},    #{stlmAmt},       #{stlmSttsCd},
            #{pgDlngId},      #{pgCoInfo},      #{stlmCmptnDt},
            #{stlmDmndDt}
        )
    </insert>
    
    <insert id="savePaymentHistory" parameterType="ks55team02.tossApi.domain.PaymentHistory">
        INSERT INTO payments_history (
            stlm_hstry_id, stlm_id, hstry_crt_dt, hstry_mdfcn_dt
        ) VALUES (
            #{stlmHstryId}, #{stlmId}, #{hstryCrtDt}, #{hstryMdfcnDt}
        )
    </insert>
	
  </mapper>