<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.admin.adminpage.useradmin.loginhistory.mapper.LoginHistoryMapper">

    <!-- 1. resultMap 정의 -->
    <resultMap id="loginHistoryResultMap" type="LoginHistory">
        <id 	column="lgn_hstry_id" 		property="loginHistoryNo" 	/>    
        <result column="user_no" 			property="userNo" 			/>
        <result column="lgn_dt" 			property="lgnDt" 			/>
        <result column="lgt_dt" 			property="lgtDt" 			/>
        <result column="lgn_ip_addr" 		property="lgnIpAddr" 		/>
        <result column="lgn_fail_nmtm" 		property="lgnFailNmtm" 		/>
        <result column="user_lgn_id"       	property="userLgnId" 		/>
    </resultMap>

    <!-- 2. select 쿼리에서 resultMap 참조 -->
    <select id="getLoginHistoryList" parameterType="LoginHistory" resultMap="loginHistoryResultMap">
        SELECT
            lh.lgn_hstry_id,
            lh.user_no,
            lh.lgn_dt,
            lh.lgt_dt,
            lh.lgn_ip_addr,
            lh.lgn_fail_nmtm,
            u.user_lgn_id
        FROM
            login_history AS lh
        LEFT JOIN
            users AS u ON lh.user_no = u.user_no    
         <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="startDate != null and endDate != null">
                AND DATE(lh.lgn_dt) BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="searchValue != null and searchValue != ''">
                <if test="searchKey != null and searchKey != ''">
                    <choose>
                        <when test="searchKey == 'userLgnId'">
                            AND u.user_lgn_id LIKE CONCAT('%', #{searchValue}, '%')
                        </when>
                        <when test="searchKey == 'lgnIpAddr'">
                            AND lh.lgn_ip_addr LIKE CONCAT('%', #{searchValue}, '%')
                        </when>
                    </choose>
                </if>
            </if>
        </trim>
        <choose>
            <when test="sortOrder == 'lgnDtAsc'">
                ORDER BY lh.lgn_dt ASC
            </when>
            <otherwise>
                ORDER BY lh.lgn_dt DESC
            </otherwise>
        </choose>
        
        LIMIT #{offset}, #{pageSize}
    </select>
    
    <select id="getLoginHistoryCount" parameterType="LoginHistory" resultType="int">
        SELECT
            COUNT(*)
        FROM
            login_history AS lh
        LEFT JOIN
            users AS u ON lh.user_no = u.user_no
            
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="startDate != null and endDate != null">
                AND DATE(lh.lgn_dt) BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="searchValue != null and searchValue != ''">
                <if test="searchKey != null and searchKey != ''">
                    <choose>
                        <when test="searchKey == 'userLgnId'">
                            AND u.user_lgn_id LIKE CONCAT('%', #{searchValue}, '%')
                        </when>
                        <when test="searchKey == 'lgnIpAddr'">
                            AND lh.lgn_ip_addr LIKE CONCAT('%', #{searchValue}, '%')
                        </when>
                    </choose>
                </if>
            </if>
        </trim>
    </select>

</mapper>