<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="footerFragment">
	<div class="footer-middle">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">김성주</h4>
						<ul class="widget-list">
							<li><a href="#">기능1</a></li>
							<li><a href="#">기능2</a></li>
							<li><a href="#">기능3</a></li>
							<li><a href="#">기능4</a></li>
							<li><a href="#">기능5</a></li>
							<li><a href="#">기능6</a></li>
							<li><a href="#">기능7</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">서요셉</h4>
						<ul class="widget-list">
							<li><a href="#">기능1</a></li>
							<li><a href="#">기능2</a></li>
							<li><a href="#">기능3</a></li>
							<li><a href="#">기능4</a></li>
							<li><a href="#">기능5</a></li>
							<li><a href="#">기능6</a></li>
							<li><a href="#">기능7</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">염가은</h4>
						<ul class="widget-list">
							<li><a href="#">기능1</a></li>
							<li><a href="#">기능2</a></li>
							<li><a href="#">기능3</a></li>
							<li><a href="#">기능4</a></li>
							<li><a href="#">기능5</a></li>
							<li><a href="#">기능6</a></li>
							<li><a href="#">기능7</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">이건영</h4>
						<ul class="widget-list">
							<li><a href="#">기능1</a></li>
							<li><a href="#">기능2</a></li>
							<li><a href="#">기능3</a></li>
							<li><a href="#">기능4</a></li>
							<li><a href="#">기능5</a></li>
							<li><a href="#">기능6</a></li>
							<li><a href="#">기능7</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">이지성</h4>
						<ul class="widget-list">
							<li><a href="#">기능1</a></li>
							<li><a href="#">기능2</a></li>
							<li><a href="#">기능3</a></li>
							<li><a href="#">기능4</a></li>
							<li><a href="#">기능5</a></li>
							<li><a href="#">기능6</a></li>
							<li><a href="#">기능7</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="widget">
						<h4 class="widget-title">정성훈</h4>
						<ul class="widget-list">
							<li><a href="#">기능1</a></li>
							<li><a href="#">기능2</a></li>
							<li><a href="#">기능3</a></li>
							<li><a href="#">기능4</a></li>
							<li><a href="#">기능5</a></li>
							<li><a href="#">기능6</a></li>
							<li><a href="#">기능7</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<a th:href="@{/main}" class="lookon-brand-logo">LookOn</a>
			<p class="footer-copyright">Copyright © 2025 LookOn. All
				Rights Reserved.</p>
		</div>
	</div>
</footer>
</html>