<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="footerFragment">
	<div class="container">
		<div class="col-sm-6 col-lg-3 footer-header">
			<div class="widget-lookon">
				<a th:href="@{/}" class="lookon-brand-logo-footer">LookOn</a>
				<p>본 사이트는 이메일주소를 무단수집하는 행위를 거부합니다. [법률 제 8486호]</p>
				<p>대표 : 이형열&nbsp;&nbsp;&nbsp;&nbsp;주소 : 전북 전주시 덕진구 기린대로 499 3층 한국스마트정보교육원 (덕진광장 맞은편)&nbsp;&nbsp;&nbsp;&nbsp;사업자번호 : 402-21-80224</p>
				<p>대표전화 : 063-717-1008&nbsp;&nbsp;&nbsp;&nbsp;FAX : 063-717-1122&nbsp;&nbsp;&nbsp;&nbsp;E-mail : hyoung814@daum.net</p><br>
				<span class="lookon-copy">Copyright © 2025 LookOn. All Rights Reserved.</span>
			</div>
		</div>
	</div>
</footer>
</html>