<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/layoutMain}">
<head>
    <title>문의 등록</title>
    <th:block layout:fragment="customCss">
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/maincss/assets/customcustomercss/addInquiryView.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </th:block>
</head>
<body>
    <th:block layout:fragment="contents">
        <main class="main">
            <div class="page-header text-center" th:style="'background-image: url(' + @{/assets/images/page-header-bg.jpg} + ')'">
                <div class="container">
                    <h1 class="page-title">INQUIRY REGISTRATION<span>문의 등록</span></h1>
                </div>
            </div>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/customer/inquiry/inquiryList}">INQUIRYLIST</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">문의 등록</li>
                    </ol>
                </div>
            </nav>
            <div class="page-content">
                <div class="container">
                	<div class="inquiryTable">
                    <form id="inquiryForm" th:action="@{/customer/inquiry/addInquiry}" method="post">
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="inquiry-row">
                                    <th scope="row">문의 대상</th>
                                    <td colspan="2" class="type-column">
                                        <select id="inqryTrgtTypeCd" name="inqryTrgtTypeCd" class="form-control" required>
										    <option value="">선택하세요</option>
										    <option th:each="option : ${inquiryTargetOptions}"
										            th:value="${option.name()}"     
										            th:text="${option.getTargetOption()}"></option> </select>
                                    </td>
                                </tr>
                                <tr class="inquiry-row" id="storeSelectRow" >
                                    <th scope="row">상점 선택</th>
                                    <td colspan="3" class="type-column">
                                        <select id ="inqryStoreId" name ="inqryStoreId" class="form-control" required>
                                    		<option value ="">상점을 선택하세요</option>
                                    		<option th:each="option : ${storeList}"
                                    				th:value="${option.storeId}" th:text="${option.storeConm}"></option>
                                        </select>
                                    </td>
                                </tr>
                                   <tr class="inquiry-row">
                                   	<th scope="row">문의 유형</th>
                                   	<td colspan="2" class ="type-column" >
                                   	<select id="inqryTypeCd" name="inqryTypeCd" class="form-control required">
                                   			<option value="">선택하세요</option>
                                   			</select>
                                    </td>
                                    <td>
                                    	<div class="custom-control custom-checkbox ml-3">
                                            <input type="checkbox" class="custom-control-input" id="privateInquiry" name="prvtYn" value="true">
                                            <input type="hidden" name="_prvtYn" value="on">
                                            <label class="custom-control-label" for="privateInquiry">비밀글 설정</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="inquiry-row title-row">
                                    <th scope="row">제목</th>
                                    <td colspan="3">
                                        <div class="title-input-group">
                                            <input type="text" class="form-control" name="inqryTtl" placeholder="제목을 입력하세요" required>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="inquiry-row">
                                    <th scope="row">내용</th>
                                    <td colspan="3">
                                        <textarea class="form-control" name="inqryCn" rows="8" placeholder="내용을 입력하세요" required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                	<th scope="row">첨부파일</th>
                                    <td colspan="3" class="file-column">
                                        <input type="file" class="form-control-file" name="attachedFiles" multiple id="attachedFilesInput">
                                        <small class="form-text text-muted mt-1">최대 5MB까지 업로드 가능하며, 여러 개 파일 첨부 가능합니다.</small>
                                        <div id="filePreviewContainer" class="mt-2"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group d-flex justify-content-end mt-4 mb-3">
	   					    <button type="submit" class="btn btn-primary btn-rounded">문의 등록</button>
                            <a th:href="@{/customer/inquiry/inquiryList}" class="btn btn-outline-secondary btn-rounded ml-2">목록으로</a>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </main>
    </th:block>

   <th:block layout:fragment="jsScript">
  <script th:inline="javascript">
    window.allInquiryOptions = /*[[${#lists.map(T(ks55team02.customer.inquiry.domain.InquiryOption).values(), option -> {'value': option.name(), 'text': option.inquiryOption})}]]*/ [];
    window.adminInquiryOptions = /*[[${#lists.map(adminInquiryOptions, option -> {'value': option.name(), 'text': option.inquiryOption})}]]*/ [];
</script>

<script th:src="@{/js/customerjs/addInquiryView.js}"></script>
   
</th:block> 
</body>
</html>