<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks55team02.tossapi.mapper.PaymentMapper">

    <!-- =================================================================== -->
    <!-- ResultMaps: DB 조회 결과를 자바 객체에 매핑하기 위한 규칙 정의 -->
    <!-- =================================================================== -->
	<resultMap id="UserCouponWithDetailsResultMap" type="ks55team02.customer.coupons.domain.UserCoupons">
        <id     column="uc_user_cpn_id"    property="userCpnId"/>
        <result column="uc_user_no"        property="userNo"/>
        <result column="uc_use_yn"         property="useYn"/>
        <result column="uc_indiv_expry_dt" property="indivExpryDt"/>
        <association property="coupon" javaType="ks55team02.customer.coupons.domain.Coupons">
            <id     column="c_pblcn_cpn_id"   property="pblcnCpnId"/>
            <result column="c_cpn_nm"         property="cpnNm"/>
            <result column="c_dscnt_vl"       property="dscntVl"       javaType="double" jdbcType="DECIMAL"/>
            <result column="c_min_ordr_amt"   property="minOrdrAmt"    javaType="double" jdbcType="DECIMAL"/>
            <result column="c_max_dscnt_amt"  property="maxDscntAmt"   javaType="double" jdbcType="DECIMAL"/>
            <result column="c_vld_end_dt"     property="vldEndDt"/>
            <result column="c_actvtn_yn"      property="actvtnYn"/>
        </association>
    </resultMap>

    <resultMap id="payorderResultMap" type="ks55team02.tossapi.domain.PayOrderDTO">
        <id     column="ordr_no"        	    property="ordrNo"/>
        <result column="user_no"        	    property="userNo"/>
        <result column="ordr_dt"        	    property="ordrDt"/>
        <result column="gds_tot_amt"    	    property="gdsTotAmt"/>
        <result column="dlvy_fee_amt"           property="dlvyFeeAmt"/>
        <result column="pblcn_cpn_id"           property="pblcnCpnId"/>
        <result column="user_cpn_id"       	    property="userCpnId"/>
        <result column="apld_cpn_dscnt_amt"     property="apldCpnDscntAmt"/>
        <result column="last_stlm_amt"          property="lastStlmAmt"/>
       	<result column="ordr_stts_cd"   	    property="ordrSttsCd"/>
        <result column="rcvr_nm"     		    property="rcvrNm"/>
        <result column="rcvr_telno"     	    property="rcvrTelno"/>
        <result column="dlvy_addr"    		    property="dlvyAddr"/>
        <result column="dlvy_daddr"  		    property="dlvyDaddr"/>
        <result column="zip"   				    property="zip"/>
        <result column="dlvy_memo_cn"   	    property="dlvyMemoCn"/>
        <result column="user_name"   		    property="userName"/>
    </resultMap>

    <!-- =================================================================== -->
    <!-- ID 생성을 위한 SELECT 문들 -->
    <!-- =================================================================== -->
    <select id="selectNextOrderId" resultType="String">
	    SELECT CONCAT('ORD', DATE_FORMAT(CURDATE(), '%Y%m%d'), LPAD(IFNULL(MAX(CAST(SUBSTRING(ordr_no, 12) AS UNSIGNED)), 0) + 1, 3, '0'))
	    FROM orders WHERE ordr_no LIKE CONCAT('ORD', DATE_FORMAT(CURDATE(), '%Y%m%d'), '%')
	</select>
	
    <select id="selectNextOrderItemId" resultType="String">
        SELECT CONCAT('ITEM', DATE_FORMAT(CURDATE(), '%Y%m%d'), LPAD(IFNULL(MAX(CAST(SUBSTRING(ordr_dtl_artcl_no, 13) AS UNSIGNED)), 0) + 1, 3, '0'))
        FROM order_items WHERE ordr_dtl_artcl_no LIKE CONCAT('ITEM', DATE_FORMAT(CURDATE(), '%Y%m%d'), '%')
    </select>
    
    <select id="selectNextPaymentId" resultType="String">
        SELECT CONCAT('pay_', LPAD(IFNULL(MAX(CAST(SUBSTRING(stlm_id, 5) AS UNSIGNED)), 0) + 1, 5, '0'))
        FROM payments
    </select>
    
    <select id="selectNextPaymentHistoryId" resultType="String">
        SELECT CONCAT('pay_his_', LPAD(IFNULL(MAX(CAST(SUBSTRING(stlm_hstry_id, 9) AS UNSIGNED)), 0) + 1, 5, '0'))
        FROM payments_history
    </select>

    <!-- =================================================================== -->
    <!-- INSERT 문들 -->
    <!-- =================================================================== -->
    <insert id="insertOrder" parameterType="ks55team02.tossapi.domain.PayOrderDTO">
        INSERT INTO orders (
            ordr_no,            user_no,            ordr_dt,
            gds_tot_amt,        dlvy_fee_amt,       pblcn_cpn_id,
            user_cpn_id,        apld_cpn_dscnt_amt, last_stlm_amt,
            ordr_stts_cd,       rcvr_nm,            rcvr_telno,
            dlvy_addr,          dlvy_daddr,         zip,
            dlvy_memo_cn,       user_name
        ) VALUES (
            #{ordrNo},          #{userNo},          #{ordrDt},
            #{gdsTotAmt},       #{dlvyFeeAmt},      #{pblcnCpnId},
            #{userCpnId},       #{apldCpnDscntAmt}, #{lastStlmAmt},
            #{ordrSttsCd},      #{rcvrNm},          #{rcvrTelno},
            #{dlvyAddr},        #{dlvyDaddr},       #{zip},
            #{dlvyMemoCn},      #{userName}
        )
    </insert>

    <insert id="insertOrderItem" parameterType="map">
        INSERT INTO order_items (
            ordr_dtl_artcl_no,      ordr_no,        gds_no,
            ordr_qntty,             ordr_tm_untprc, store_id,
            ordr_dtl_artcl_dcsn_cd
        ) VALUES (
            #{ordrDtlArtclNo},      #{ordrNo},          #{gdsNo},
            #{ordrQntty},           #{ordrTmUntprc},    #{storeId},
            #{ordrDtlArtclDcsnCd}
        )
    </insert>

    <insert id="insertPayment" parameterType="ks55team02.tossapi.domain.PaymentDTO">
        INSERT INTO payments (
            stlm_id,            ordr_no,        user_no,
            stlm_amt,           stlm_stts_cd,   pg_dlng_id,
            pg_co_info,         stlm_dmnd_dt
        ) VALUES (
            #{stlmId},          #{ordrNo},          #{userNo},
            #{stlmAmt},         #{stlmSttsCd},      #{pgDlngId},
            #{pgCoInfo},        #{stlmDmndDt}
        )
    </insert>
    
    <insert id="insertPaymentHistory" parameterType="ks55team02.tossapi.domain.PaymentHistoryDTO">
        INSERT INTO payments_history (stlm_hstry_id, stlm_id, hstry_crt_dt)
        VALUES (#{stlmHstryId}, #{stlmId}, #{hstryCrtDt})
    </insert>

    <!-- =================================================================== -->
    <!-- SELECT 문들 -->
    <!-- =================================================================== -->
    <select id="getOrderByOrdrNo" parameterType="String" resultMap="payorderResultMap">
        SELECT * FROM orders WHERE ordr_no = #{ordrNo}
    </select>
    
    <select id="getOrderedProductsByOrderId" parameterType="String" resultType="map">
        SELECT
            oi.gds_no           AS gdsNo,
            p.gds_nm            AS name,
            oi.ordr_qntty       AS quantity,
            oi.ordr_tm_untprc   AS price,
            oi.store_id         AS storeId
        FROM
            order_items oi
        JOIN
            products p ON oi.gds_no = p.gds_no
        WHERE
            oi.ordr_no = #{orderId}
    </select>

    <select id="findLatestOrderIdByUserNo" parameterType="String" resultType="String">
        SELECT ordr_no FROM orders WHERE user_no = #{userNo} ORDER BY ordr_dt DESC LIMIT 1
    </select>

    <select id="findUserCouponsByUserId" parameterType="String" resultMap="UserCouponWithDetailsResultMap">
         SELECT
	        uc.user_cpn_id      AS uc_user_cpn_id,
	        uc.user_no          AS uc_user_no,
	        uc.use_yn           AS uc_use_yn,
	        uc.indiv_expry_dt   AS uc_indiv_expry_dt,
	        c.pblcn_cpn_id      AS c_pblcn_cpn_id,
	        c.cpn_nm            AS c_cpn_nm,
	        c.dscnt_vl          AS c_dscnt_vl,
	        c.min_ordr_amt      AS c_min_ordr_amt,
	        c.max_dscnt_amt     AS c_max_dscnt_amt,
	        c.vld_end_dt        AS c_vld_end_dt,
	        c.actvtn_yn         AS c_actvtn_yn
	    FROM
	        user_coupons uc
	    JOIN
	        coupons c ON uc.pblcn_cpn_id = c.pblcn_cpn_id
	    WHERE
	        uc.user_no = #{userNo} 
	        AND uc.use_yn = 0
	        AND (uc.indiv_expry_dt IS NULL OR uc.indiv_expry_dt >= NOW())
	        AND c.actvtn_yn = 1
	        AND c.vld_end_dt >= NOW()
    </select>

    <select id="selectUserInfoForShipping" parameterType="String" resultType="map">
        SELECT
            user_nm AS recipientName,   
            telno AS phone,             
            zip AS postcode,         
            addr AS address,            
            daddr AS detailAddress      
        FROM
            users
        WHERE
            user_no = #{userNo}
    </select>
    
    <select id="getPaymentIdByPgDlngId" parameterType="String" resultType="String">
        SELECT stlm_id FROM payments WHERE pg_dlng_id = #{paymentKey}
    </select>

    <!-- =================================================================== -->
    <!-- UPDATE 문들 -->
    <!-- =================================================================== -->
    <update id="updateOrderStatus" parameterType="map">
        UPDATE orders SET ordr_stts_cd = #{ordrStatus} WHERE ordr_no = #{ordrNo}
    </update>
    
    <update id="updatePaymentStatusAndCompletionDate" parameterType="map">
        UPDATE payments
        SET 
            stlm_stts_cd = #{stlmSttsCd},
            pg_dlng_id = #{pgDlngId},
            stlm_cmptn_dt = NOW()
        WHERE
            ordr_no = #{ordrNo}
    </update>
    
    <update id="updateUserCouponToUsed" parameterType="String">
        UPDATE user_coupons
        SET
            use_yn = 1,
            use_dt = NOW()
        WHERE
            user_cpn_id = #{userCpnId}
    </update>
    
    <update id="updateUserInfoShippingAddress" parameterType="map">
        UPDATE users
        SET
            user_nm = #{recipientName},     
            telno = #{phone},
            zip = #{postcode},
            addr = #{address},
            daddr = #{detailAddress},
            mdfcn_dt = NOW() 
        WHERE
            user_no = #{userNo}
    </update>
    
</mapper>