<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8" />
        <title th:text="${title}"></title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicons/lookonfavicon1.png}" />
        <!-- Template CSS -->
        <link th:href="@{/admincss/assets/css/main.css?v=1.1}" rel="stylesheet" type="text/css" />      
         <th:block layout:fragment="customCss"></th:block>
         
		<link rel="stylesheet" th:href="@{/admincss/assets/customadmincss/adminFragments.css}" />	  
        
	</head>
	<body>
		<div class="screen-overlay"></div>
		
		<!--/* a
			~{논리경로} : prefix /src/main/resources/templates/ subfix: .html
			/src/main/resources/templates/admin/fragments/aside.html 
		*/-->
		<!-- aside start -->
		<aside th:replace="~{admin/fragments/aside :: asideFragments}"></aside>
		<!-- aside and -->
		
		<main class="main-wrap">
			<!-- header start -->
				<header th:replace="~{admin/fragments/header :: headerFragments}"></header>
			<!-- header and -->
			<section class="content-main">
				<!-- contents start -->
				<th:block layout:fragment="contents">
					
				</th:block>
				<!-- contents and -->
			</section>
			<!-- footer start -->	
				<footer th:replace="~{admin/fragments/footer :: footerFragments}"></footer>
			<!-- footer and -->
		</main>
		<script th:src="@{/admincss/assets/js/vendors/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/admincss/assets/js/vendors/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/admincss/assets/js/vendors/select2.min.js}"></script>
        <script th:src="@{/admincss/assets/js/vendors/perfect-scrollbar.js}"></script>
        <script th:src="@{/admincss/assets/js/vendors/jquery.fullscreen.min.js}"></script>
        
        <!--/* 개발시 추가할 스크립트 파일 영역 정의 */-->
        <th:block layout:fragment="jsFile"></th:block>
        
        <!-- Main Script -->
        <script th:src="@{/admincss/assets/js/main.js?v=1.1}" type="text/javascript"></script>
       
        <!--/* 개발시 추가할 스크립트 영역 정의 */-->
        <th:block layout:fragment="jsScript"></th:block>	
	</body>
</html>