<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside class="navbar-aside" id="offcanvas_aside" th:fragment="asideFragment">
        <div class="aside-top">
            <a th:href="@{/seller}" class="brand-wrap">
                <span class="lookon-logo">LookOn</span>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" th:href="@{/seller}">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">홈으로 이동</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">상품관리</span>
                    </a>
                    <div class="submenu">
					    <a th:href="@{/seller/products/list}">내 상품보기</a> 
					    <a th:href="@{/seller/products/registration}">상품등록</a> 
					</div>
                </li>               
                <li class="menu-item">
                    <a class="menu-link" th:href="@{/seller/inquiry/sellerInquiryList}">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">상품문의관리</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">구독권 구매하기</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">정산내역</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">판매내역조회</span>
                    </a>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" th:href="@{/customer/mypage}">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">마이페이지로 나가기</span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>
</html>