<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks55team02.admin.adminpage.storeadmin.settlementdetailbystore.mapper.StoreSettlementMapper">

    <resultMap id="StoreSettlementListViewDTOMap" type="ks55team02.admin.adminpage.storeadmin.settlementdetailbystore.domain.StoreSettlementListViewDTO">
        <id property="storeClclnId" column="store_clcln_id"/>
        <result property="storeId" column="store_id"/>
        <result property="storeNm" column="store_conm"/> <result property="plcyId" column="plcy_id"/>
        <result property="plcyNm" column="plcy_expln"/> <result property="totSelAmt" column="tot_sel_amt"/>
        <result property="selFeeRt" column="sel_fee_rt"/>
        <result property="clclnAmt" column="clcln_amt"/>
        <result property="actnoId" column="actno_id"/>
        <result property="clclnPrcsYmd" column="clcln_prcs_ymd"/>
        <result property="clclnSttsCd" column="clcln_stts_cd"/>
    </resultMap>

    <resultMap id="StoreSettlementDTOMap" type="ks55team02.admin.adminpage.storeadmin.settlementdetailbystore.domain.StoreSettlementDTO">
        <id property="storeClclnId" column="store_clcln_id"/>
        <result property="storeId" column="store_id"/>
        <result property="plcyId" column="plcy_id"/>
        <result property="totSelAmt" column="tot_sel_amt"/>
        <result property="selFeeRt" column="sel_fee_rt"/>
        <result property="clclnAmt" column="clcln_amt"/>
        <result property="actnoId" column="actno_id"/>
        <result property="clclnPrcsYmd" column="clcln_prcs_ymd"/>
        <result property="clclnSttsCd" column="clcln_stts_cd"/>
    </resultMap>

    <resultMap id="CdfpDTOMap" type="ks55team02.admin.adminpage.storeadmin.settlementdetailbystore.domain.CdfpDTO">
        <id property="plcyId" column="plcy_id"/>
        <result property="plcyExpln" column="plcy_expln"/>
        <result property="feeRt" column="fee_rt"/>
    </resultMap>

    <resultMap id="StoreAccountDTOMap" type="ks55team02.admin.adminpage.storeadmin.settlementdetailbystore.domain.StoreAccountDTO">
        <id property="actnoId" column="actno_id"/>
        <result property="storeId" column="store_id"/>
        <result property="bankNm" column="bank_nm"/>
        <result property="actno" column="actno"/>
        <result property="dpstrNm" column="dpstr_nm"/>
        <result property="mainActnoYn" column="main_actno_yn"/>
        <result property="crtDt" column="crt_dt"/>
        <result property="actvtnYn" column="actvtn_yn"/>
        <result property="delDt" column="del_dt"/>
        <result property="delUserNo" column="del_user_no"/>
    </resultMap>

    <select id="getTotalSettlementCount" parameterType="ks55team02.admin.common.domain.SearchCriteria" resultType="int">
        SELECT
            COUNT(ss.store_clcln_id)
        FROM
            store_settlements ss
        LEFT JOIN
            stores s ON ss.store_id = s.store_id
        LEFT JOIN
            cdfp c ON ss.plcy_id = c.plcy_id
        <where>
            <if test="searchKey != null and searchValue != null and searchValue != ''">
                <choose>
                    <when test="searchKey == 'storeId'">
                        AND ss.store_id LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'plcyId'">
                        AND ss.plcy_id LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'storeClclnId'">
                        AND ss.store_clcln_id LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'clclnSttsCd'">
                        AND ss.clcln_stts_cd LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'storeNm'">
                        AND s.store_conm LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'plcyNm'">
                        AND c.plcy_expln LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                </choose>
            </if>
            <if test="startDate != null and endDate != null">
                AND ss.clcln_prcs_ymd BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="filterConditions != null and filterConditions.size > 0">
                AND ss.clcln_stts_cd IN
                <foreach item="item" index="index" collection="filterConditions" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAllStoreSettlementsForList" parameterType="ks55team02.admin.common.domain.SearchCriteria" resultMap="StoreSettlementListViewDTOMap">
        SELECT
            ss.store_clcln_id,
            ss.store_id,
            s.store_conm,        ss.plcy_id,
            c.plcy_expln,        ss.tot_sel_amt,
            ss.sel_fee_rt,
            ss.clcln_amt,
            ss.actno_id,
            ss.clcln_prcs_ymd,
            ss.clcln_stts_cd
        FROM
            store_settlements ss
        LEFT JOIN
            stores s ON ss.store_id = s.store_id
        LEFT JOIN
            cdfp c ON ss.plcy_id = c.plcy_id
        <where>
            <if test="searchKey != null and searchValue != null and searchValue != ''">
                <choose>
                    <when test="searchKey == 'storeId'">
                        AND ss.store_id LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'plcyId'">
                        AND ss.plcy_id LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'storeClclnId'">
                        AND ss.store_clcln_id LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'clclnSttsCd'">
                        AND ss.clcln_stts_cd LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'storeNm'">
                        AND s.store_conm LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'plcyNm'">
                        AND c.plcy_expln LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                </choose>
            </if>
            <if test="startDate != null and endDate != null">
                AND ss.clcln_prcs_ymd BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="filterConditions != null and filterConditions.size > 0">
                AND ss.clcln_stts_cd IN
                <foreach item="item" index="index" collection="filterConditions" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
            ss.clcln_prcs_ymd DESC, ss.store_clcln_id DESC LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="insertStoreSettlement" parameterType="ks55team02.admin.adminpage.storeadmin.settlementdetailbystore.domain.StoreSettlementDTO">
        INSERT INTO store_settlements
        (
            store_clcln_id,
            store_id,
            plcy_id,
            tot_sel_amt,
            sel_fee_rt,
            clcln_amt,
            actno_id,
            clcln_prcs_ymd,
            clcln_stts_cd
        )
        VALUES
        (
            #{storeClclnId},
            #{storeId},
            #{plcyId},
            #{totSelAmt},
            #{selFeeRt},
            #{clclnAmt},
            #{actnoId},
            #{clclnPrcsYmd},
            #{clclnSttsCd}
        )
    </insert>

    <select id="getMaxStoreClclnSeq" resultType="java.lang.Integer">
        SELECT
            CAST(SUBSTRING(MAX(store_clcln_id), 7) AS UNSIGNED)
        FROM
            store_settlements
        WHERE
            store_clcln_id LIKE 'clcln_%'
    </select>

    <update id="updateSettlementStatus" parameterType="map">
        UPDATE store_settlements
        SET
            clcln_stts_cd = #{clclnSttsCd},
            clcln_prcs_ymd = CURDATE() WHERE
            store_clcln_id = #{storeClclnId}
    </update>

    <select id="getCdfpByPlcyId" parameterType="string" resultMap="CdfpDTOMap">
        SELECT
            plcy_id,
            plcy_expln,
            fee_rt
        FROM
            cdfp
        WHERE
            plcy_id = #{plcyId}
    </select>

    <select id="getStoreSettlementById" parameterType="string" resultMap="StoreSettlementDTOMap">
        SELECT
            store_clcln_id,
            store_id,
            plcy_id,
            tot_sel_amt,
            sel_fee_rt,
            clcln_amt,
            actno_id,
            clcln_prcs_ymd,
            clcln_stts_cd
        FROM
            store_settlements
        WHERE
            store_clcln_id = #{storeClclnId}
    </select>

    <select id="getStoreAccountDetailsByStoreId" parameterType="string" resultMap="StoreAccountDTOMap">
        SELECT
            actno_id,
            store_id,
            bank_nm,
            actno,
            dpstr_nm,
            main_actno_yn,
            crt_dt,
            actvtn_yn,
            del_dt,
            del_user_no
        FROM
            store_account
        WHERE
            store_id = #{storeId} AND main_actno_yn = TRUE AND actvtn_yn = TRUE
        LIMIT 1
    </select>

    <select id="getSettlementHistoryByStoreId" parameterType="string" resultMap="StoreSettlementDTOMap">
        SELECT
            store_clcln_id,
            store_id,
            plcy_id,
            tot_sel_amt,
            sel_fee_rt,
            clcln_amt,
            actno_id,
            clcln_prcs_ymd,
            clcln_stts_cd
        FROM
            store_settlements
        WHERE
            store_id = #{storeId}
        ORDER BY clcln_prcs_ymd DESC
    </select>
</mapper>