<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layoutMain}">
		
	 <head>
	 	<meta name="description" content="한국스마트정보교육원 ksmybatis" />
	 	<th:block layout:fragment="customCss">
        <link rel="stylesheet" th:href="@{/admincss/assets/customadmincss/appAdminView.css}">
    </th:block>
	 </head>
	 <!--/* 개발시 추가할 jsfile 영역 정의 */-->
	 <th:block layout:fragment="jsFile">
	 </th:block>
	 
	 <!--/* 개발시 추가할 스크립트 */-->
	 <th:block layout:fragment="jsScript">	 
	 </th:block>
	 <!-- 추가할 페이지 contents -->
	 <th:block layout:fragment="contents">
		<main class="main-content">
		    <section class="content-header">
		        <h2 class="content-title">상점 신청 내용</h2>
		    </section>	
		    <!-- 1. 검색 필터 카드 -->
		    <div class="card mb-4">
		        <div class="card-body">
		                <div class="row gx-3">
		                    <div class="col-lg-12">
		                    	<!-- 회원 상태 분류 -->
		                        <label class="form-label">분류</label>
		                        <div class="d-flex align-items-center">
		                            <div class="form-check me-4">
		                                <input class="form-check-input status-check" type="checkbox" 
		                                	   name="appAdminList" value="접수" checked>
		                                <label class="form-check-label">접수</label>
		                            </div>
		                            <div class="form-check me-4">
		                                <input class="form-check-input status-check" type="checkbox" 
		                                	   name="appAdminList" value="보류" checked>
		                                <label class="form-check-label">보류</label>
		                            </div>
		                            <div class="form-check me-4">
		                                <input class="form-check-input status-check" type="checkbox" 
		                                	   name="appAdminList" value="승인" checked>
		                                <label class="form-check-label">승인</label>
		                            </div>
		                             <div class="form-check me-4">
		                                <input class="form-check-input status-check" type="checkbox" 
		                                	   name="appAdminList" value="반려" checked>
		                                <label class="form-check-label">반려</label>
		                            </div>
		                            <div class="form-check me-4">
		                            <input class="form-check-input" type="checkbox"
		                            	   id="filterCheckAll" checked>
		                            <label class="form-check-label">전체선택</label>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <hr>
		                <div class="row gx-3 align-items-end">
		                    <div class="col-lg-4">
		                        <label class="form-label">기간</label>
		                        <div class="d-flex">
		                            <input type="date" class="form-control" name="startDate" value="2020-03-16">
		                            <span class="mx-2 d-flex align-items-center">-</span>
		                            <input type="date" class="form-control" name="endDate" value="2025-06-16">
		                        </div>
		                    </div>
		                    <div class="col-lg-4">
		                        <label class="form-label">검색 키워드</label>
		                        <div class="input-group">
		                            <select class="form-select" name="searchKey" style="max-width: 120px; background-color: #fff;">
		                                <option value="" selected>전체</option>
		                                <option value="">신청 아이디</option>
		                                <option value="">상점 명</option>
		                                <option value="">신청자 이름</option>
		                                <option value="">신청자 아이디</option>
		                            </select>
		                            <input type="text" class="form-control" name="searchValue" placeholder="검색어를 입력하세요">
		                        </div>
		                    </div>
		                    <div class="col-lg-2">
		                        <button class="btn btn-primary btn-block" type="button" id="searchBtn">검색</button>
		                    </div>
		                </div>
		        </div>
		    </div> <!-- card end// -->
		
		    <!-- 2. 회원 목록 테이블 카드 -->
		    <div class="card" id="appListContainer" th:fragment="appListFragment">
		        <div class="card-body">
		            <div class="row gx-3 align-items-center mb-4">
		                <div class="col-md-6">
		                	<!-- 조회된 회원 검색수 -->
		                    <div class="search-result-info">
		                        총 <b class="text-brand" th:text="${totalCount}"></b> 건의 회원이 검색되었습니다.
		                    </div>
		                </div>
		                <div class="col-md-6 text-md-end">
		                	<!-- 회원 상태 변경 -->
		                    <div class="btn-group me-2">
		                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
		                            선택한 회원 상태 변경
		                        </button>
		                        <div class="dropdown-menu status">
		                            <a class="dropdown-item status-badge-item change-status-btn" href="#" data-status="활동">
		                            	<span class="badge-dot bg-primary"></span>접수
		                            </a>
		                            <a class="dropdown-item status-badge-item change-status-btn" href="#" data-status="휴면">
		                            	<span class="badge-dot bg-warning"></span>보류
		                            </a>
		                            <a class="dropdown-item status-badge-item change-status-btn" href="#" data-status="탈퇴">
		                            	<span class="badge-dot bg-success"></span>승인
		                            </a>
		                            <a class="dropdown-item status-badge-item change-status-btn" href="#" data-status="탈퇴">
		                            	<span class="badge-dot bg-danger"></span>반려
		                            </a>
		                        </div>
		                    </div>
		                    <!-- 회원 조회 분류 키워드 -->
		                  <!--   <div class="d-inline-block">
		                        <select class="form-select d-inline-block" id="sortOrder" name="sortOrder" style="width: auto;">
								    <option value="joinDtDesc" th:selected="${searchCriteria.sortOrder == 'joinDtDesc'}">최신 가입일순</option>
								    <option value="joinDtAsc" th:selected="${searchCriteria.sortOrder == 'joinDtAsc'}">오래된 가입일순</option>
								</select>
		                        <select class="form-select d-inline-block" id="pageSize" name="pageSize" style="width: auto;">
		                            <option value="10" th:selected="${searchCriteria.pageSize == 10}">10개씩 보기</option>
		                            <option value="30" th:selected="${searchCriteria.pageSize == 30}">30개씩 보기</option>
		                            <option value="50" th:selected="${searchCriteria.pageSize == 50}">50개씩 보기</option>
		                        </select>
		                    </div> -->
		                </div>
		            </div> <!-- row end// -->
		
		            <div class="table-responsive">
				    <table class="table table-hover member-table">
				        <thead>
				            <tr class="text-center">
				                <th scope="col" class="col-checkbox">
				                	<input class="form-check-input" type="checkbox" id="checkAll">
				                </th>
				                <th scope="col">신청 아이디</th>
				                <th scope="col">상점명</th>
				                <th scope="col">신청자 이름</th>
				                <th scope="col">신청 유저 아이디</th>
				                <th scope="col">수수료 비율</th>
				                <th scope="col">계약 신청일</th>
				                <th scope="col">상태</th>
				            </tr>
				        </thead>
				        <tbody class="text-center">
				            <tr th:if="${#lists.isEmpty(appAdminList)}">
				                <td colspan="8" class="text-center py-5">조회된 신청이 없습니다.</td>
				            </tr>
				            <tr th:unless="${#lists.isEmpty(appAdminList)}" th:each="appAdmin : ${appAdminList}">
				                <td> <input class="form-check-input member-check" type="checkbox" th:value="${appAdmin.aplyId}"></td>
				                <td class="ellipsis text" th:text="${appAdmin.aplyId}" th:title="${appAdmin.aplyId}"></td>
				                <td>
				                <a class="text" th:href="@{/adminpage/storeadmin/appDetail}" th:text="${appAdmin.storeNm}"></a>
				                </td>
				                <td th:text="${appAdmin.userNm}"></td>
				                <td th:text="${appAdmin.aplyUserNo}"></td>				                
				                <td class="ellipsis text" th:text="${appAdmin.plcyId}"></td>
				                <td th:text="${#temporals.format(appAdmin.ctrtAplyYmd, 'yyyy-MM-dd')}"></td>
				                <td>
				                    <span class="badge custom-badge"
				                          th:text="${appAdmin.aplyStts}"
				                          th:classappend="${appAdmin.aplyStts == '보류'} ? 'bg-warning' : 
				                                         (${appAdmin.aplyStts == '승인'} ? 'bg-success' : 
				                                         (${appAdmin.aplyStts == '반려'} ? 'bg-danger' : 'bg-secondary'))">
				                    </span>
				                </td>
				            </tr>
				        </tbody>
				    </table>
				</div>
		            <!-- 페이지네이션 -->
		            <nav class="mt-4" aria-label="Page navigation" th:if="${totalCount > 0}">
					    <ul class="pagination justify-content-center">
					        <li class="page-item" th:if="${pagination.currentPage > 1}">
					            <a class="page-link page-num" href="#" th:data-page="${pagination.currentPage - 1}">이전</a>
					        </li>
					        
					        <li class="page-item" th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
					            th:classappend="${page == pagination.currentPage} ? 'active' : ''">
					            <a class="page-link page-num" href="#" th:text="${page}" th:data-page="${page}"></a>
					        </li>
					        
					        <li class="page-item" th:if="${pagination.currentPage < pagination.totalPageCount}">
					            <a class="page-link page-num" href="#" th:data-page="${pagination.currentPage + 1}">다음</a>
					        </li>
					    </ul>
					</nav>
		        </div> <!-- card-body end// -->
		    </div> <!-- card end// -->
		</main>
	 </th:block>
	 <th:block layout:fragment="jsFile">
	 </th:block>	
	 <th:block layout:fragment="jsScript">
	 <script>
	 const mainContent = $('main.main-content');
	  // [테이블] 헤더 체크박스로 전체 선택/해제
	        mainContent.on('click', '#checkAll', function() {
	            $('.member-check').prop('checked', $(this).is(':checked'));
	        });
	
	        // [테이블] 개별 체크박스 선택 시, 헤더 체크박스 상태 동기화
	        mainContent.on('click', '.member-check', () => {
	            const totalChecks = $('.member-check').length;
	            const checkedChecks = $('.member-check:checked').length;
	            $('#checkAll').prop('checked', totalChecks > 0 && totalChecks === checkedChecks);
	        });
	    </script>
	 </th:block>	
   
</html>