<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ks55team02.admin.adminpage.boardadmin.postmanagement.mapper.PostManagementMapper">

	<resultMap id="adminPostResultMap"
		type="ks55team02.admin.adminpage.boardadmin.postmanagement.domain.AdminPost">
		<id column="pst_sn" property="postSn" />
		<result column="bbs_clsf_cd" property="boardClassCode" />
		<result column="wrtr_user_no" property="writerUserNo" />
		<result column="pst_ttl" property="postTitle" />
		<result column="pst_cn" property="postContent" />
		<result column="view_cnt" property="viewCount" />
		<result column="ntc_pst_yn" property="noticePostYn" />
		<result column="crt_dt" property="createdDate" />
		<result column="del_dt" property="deletedDate" />

		<result column="user_ncnm" property="userNickname" />
		<result column="bbs_nm" property="boardName" />
		<result column="representative_img"
			property="representativeImg" />
		<result column="like_count" property="likeCount" />
		<result column="comment_count" property="commentCount" />
	</resultMap>

	<select id="selectPostList"
		parameterType="ks55team02.admin.adminpage.boardadmin.postmanagement.domain.AdminPost"
		resultMap="adminPostResultMap">
		SELECT
		p.pst_sn, p.bbs_clsf_cd, p.wrtr_user_no, p.pst_ttl, p.pst_cn,
		p.view_cnt,
		p.ntc_pst_yn, p.crt_dt, p.del_dt,
		u.user_ncnm,
		b.bbs_nm,
		(SELECT COUNT(*) FROM post_interactions pi WHERE pi.pst_sn = p.pst_sn
		AND
		pi.intract_type_cd = 'LIKE' AND pi.rtrcn_dt IS NULL) AS like_count,
		(SELECT COUNT(*) FROM post_comments pc WHERE pc.pst_sn = p.pst_sn AND
		pc.del_dt IS NULL) AS comment_count,
		(SELECT img.img_file_path_nm FROM
		post_images img WHERE img.pst_sn = p.pst_sn
		AND img.pst_img_sort_sn = 0
		AND img.del_dt IS NULL LIMIT 1) AS
		representative_img
		FROM
		posts p
		LEFT
		JOIN
		users u ON p.wrtr_user_no = u.user_no
		LEFT JOIN
		boards b ON
		p.bbs_clsf_cd = b.bbs_clsf_cd
		<include refid="commonSearchCondition" />
		ORDER BY
		<choose>
			<when
				test="sortOrder != null and 'likeCountDesc'.equals(sortOrder)">
				like_count DESC
			</when>
			<otherwise>
				p.crt_dt DESC
			</otherwise>
		</choose>
		<if test="pageSize > 0">
			LIMIT #{pageSize} OFFSET #{offset}
		</if>
	</select>

	<select id="selectPostCount"
		parameterType="ks55team02.admin.adminpage.boardadmin.postmanagement.domain.AdminPost"
		resultType="int">
		SELECT COUNT(*)
		FROM posts p
		LEFT JOIN
		users u ON p.wrtr_user_no =
		u.user_no
		LEFT JOIN
		boards b ON p.bbs_clsf_cd = b.bbs_clsf_cd
		<include refid="commonSearchCondition" />
	</select>

	<sql id="commonSearchCondition">
		<where>
			<if
				test="filterConditions != null and !filterConditions.isEmpty()">
				<foreach item="status" collection="filterConditions"
					open="AND (" close=")" separator=" OR ">
					<if test="'normal'.equals(status)">p.del_dt IS NULL</if>
					<if test="'hidden'.equals(status)">p.del_dt IS NOT NULL</if>
				</foreach>
			</if>
			<if test="startDate != null">AND p.crt_dt >= #{startDate}</if>
			<if test="endDate != null">AND p.crt_dt &gt; DATE_ADD(#{endDate}, INTERVAL 1 DAY)
			</if>
			<if
				test="searchKey != null and searchValue != null and searchValue != ''">
				AND
				<choose>
					<when test="'userNickname'.equals(searchKey)">u.user_ncnm LIKE CONCAT('%', #{searchValue}, '%')
					</when>
					<when test="'postTitle'.equals(searchKey)">p.pst_ttl LIKE CONCAT('%', #{searchValue}, '%')
					</when>
					<when test="'postContent'.equals(searchKey)">p.pst_cn LIKE CONCAT('%', #{searchValue}, '%')
					</when>
					<when test="'boardName'.equals(searchKey)">b.bbs_nm LIKE CONCAT('%', #{searchValue}, '%')
					</when>
					<otherwise>(p.pst_ttl LIKE CONCAT('%', #{searchValue}, '%') OR
						u.user_ncnm LIKE CONCAT('%', #{searchValue}, '%'))</otherwise>
				</choose>
			</if>
		</where>
	</sql>

	<update id="updatePostsToHidden" parameterType="list">
		UPDATE posts
		SET
		del_dt = NOW()
		WHERE
		pst_sn IN
		<foreach collection="list" item="postSn" open="("
			separator="," close=")">
			#{postSn}
		</foreach>
	</update>

	<update id="updatePostsToRestored" parameterType="list">
		UPDATE posts
		SET
		del_dt = NULL
		WHERE
		pst_sn IN
		<foreach collection="list" item="postSn" open="("
			separator="," close=")">
			#{postSn}
		</foreach>
	</update>

</mapper>