/* 푸터 컨테이너 기본 설정 */
.footer {
    background-color: #222;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0;
    border-top: 2px solid #aaa;
}

.footer .footer-middle .container .row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 0 15px;
	text-align: center;
}

/* 푸터 헤더 영역 설정 */
.footer-header {
	display: flex;
	gap: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* 메인 위젯 영역 */
.widget-lookon {
	width: 100%;
}

/* LookOn 로고 스타일 */
.lookon-brand-logo {
	font-weight: 700;
	font-size: 40px;
	line-height: 38px;
}

.lookon-brand-logo-footer {
	display: block; /* 블록 요소로 변경하여 한 줄을 차지하게 함 */
	font-weight: 700;
	font-size: 40px;
	line-height: 38px;
	margin-bottom: 30px;
}

/* 마지막 저작권 표시 p 태그의 간격 */
.lookon-copy {
	white-space: nowrap; /* 줄바꿈 방지 */
}

/* 모든 p 태그에 공통으로 적용되는 스타일 */
.widget-lookon p {
	white-space: nowrap; /* 줄바꿈 방지 */
	margin: 0; /* 기본 마진 제거 */
	line-height: 1.5;
	font-size: 14px; /* 글씨 크기 */
	color: #ccc; /* 텍스트 색상 */
	padding-bottom: 5px; /* 각 문단 아래 간격 */
}

