<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.customer.inquiry.mapper.InquiryImageMapper">

    <resultMap id="inquiryImageResultMap" 	type="ks55team02.customer.inquiry.domain.InquiryImage">
        <id property="inqryImgId" 			column="inqry_img_id"/>
        <result property="inqryId" 			column="inqry_id"/>
        <result property="imgId" 			column="img_id"/>
        <result property="ord" 				column="ord"/>
    </resultMap>

    <insert id="insertInquiryImage" parameterType="ks55team02.customer.inquiry.domain.InquiryImage">
        INSERT INTO inquiry_images (
            inqry_img_id, 
            inqry_id, 
            img_id, 
            ord
        ) VALUES (
            #{inqryImgId}, #{inqryId}, #{imgId}, #{ord}
        )
    </insert>

    <select id="getInquiryImagesByInquiryId" parameterType="string" resultMap="inquiryImageResultMap">
        SELECT
            inqry_img_id, 
            inqry_id, 
            img_id, 
            ord
        FROM inquiry_images
        WHERE inqry_id = #{inqryId}
        ORDER BY ord ASC
    </select>

</mapper>