<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.admin.inquiry.mapper.AdminInquiryMapper">

    <resultMap id="storeResultMap" type="ks55team02.common.domain.store.Store">
        <id property="storeId"          column="store_id"/>
        <result property="aplyId"       column="aply_id"/>
        <result property="sellerUserNo" column="seller_user_no"/>
        <result property="storeConm"    column="store_conm"/>
        <result property="storeIntroCn" column="store_intro_cn"/>
        <result property="storeLogoImg" column="store_logo_img"/>
        <result property="storeStts"    column="store_stts"/>
        <result property="infoMdfcnDt"  column="info_mdfcn_dt"/>
        <result property="inactvtnDt"   column="inactvtn_dt"/>
        <result property="delPrcrYn"    column="del_prcr_yn"/>
    </resultMap>

    <resultMap id="inquiryUserResultMap" type="ks55team02.common.domain.inquiry.InquiryUser">
        <id property="userNo"       column="user_no"/>
        <result property="userNcnm" column="user_ncnm"/>
		<result property="userLgnId" column="user_lgn_id"/>
		<result property="userNm" 		column="user_nm"/>
    </resultMap>

    <resultMap id="inquiryImageResultMap" type="ks55team02.common.domain.inquiry.InquiryImage">
        <id property="inqryImgId"    column="inqry_img_id"/>
        <result property="imgId"       column="img_id"/>
        <result property="inqryId"     column="inquiry_image_inqry_id"/>
        <result property="ord"         column="ord"/>
        <result property="imgAddr"     column="img_addr"/>
    </resultMap>

    <resultMap id="answerResultMap" 		type="ks55team02.common.domain.inquiry.Answer">
        <id property="ansId"          		column="ans_id"/>
        <result property="inqryId"      	column="answer_inqry_id"/>
        <result property="answrUserNo"  	column="answr_user_no"/>
        <result property="ansCn"        	column="ans_cn"/>
        <result property="ansTm"        	column="ans_tm"/>
        <result property="answrTypeCd"  	column="answr_type_cd"/>
        <result property="rlsYn"        	column="rls_yn"/>
        <result property="lastMdfcnDt"  	column="last_mdfcn_dt"/>
        <result property="actvtnYn"     	column="actvtn_yn"/>
        <result property="delDt"        	column="del_dt"/>
        <result property="delUserNo"   		column="del_user_no"/>
        <result property="lastMdfcnUserNo"  column="last_mdfcn_user_no"/>
    </resultMap>

    <resultMap id="inquiryResultMap" type="ks55team02.common.domain.inquiry.Inquiry">
        <id property="inqryId"            column="inqry_id"/>
        <result property="inqryTypeCd"    column="inqry_type_cd"/>
        <result property="inqryTrgtTypeCd" column="inqry_trgt_type_cd"/>
        <result property="wrtrId"         column="wrtr_id"/>
        <result property="inqryStoreId"   column="inqry_store_id"/>
        <result property="inqryTtl"       column="inqry_ttl"/>
        <result property="inqryCn"        column="inqry_cn"/>
        <result property="prvtYn"         column="prvt_yn"/>
        <result property="prcsStts"       column="prcs_stts"/>
        <result property="prcsUserNo"     column="prcs_user_no"/>
        <result property="regYmd"         column="reg_ymd"/>
        <result property="mdfcnYmd"       column="mdfcn_ymd"/>
        <result property="delDt"          column="del_dt"/>
        <result property="delUserNo"      column="del_user_no"/>
        <result property="delActvtnYn"    column="del_actvtn_yn"/>

        <association property="writerInfo" resultMap="inquiryUserResultMap"/>
        <association property="storeInfo" resultMap="storeResultMap"/>
        <association property="answer" resultMap="answerResultMap"/>
        <collection property="inquiryImages" ofType="ks55team02.common.domain.inquiry.InquiryImage" resultMap="inquiryImageResultMap"/>
    </resultMap>

    <select id="getMaxAnsIdNumber" resultType="java.lang.Integer">
        SELECT
            MAX(CAST(SUBSTRING_INDEX(ans_id, '_', -1) AS UNSIGNED))
        FROM
            answer
    </select>

    <!-- [핵심 수정 1] 삭제된 문의를 항상 제외하고, 필터 조건을 처리하도록 수정 -->
    <select id="getAdminInquiryCnt" parameterType="ks55team02.common.domain.inquiry.Inquiry" resultType="int">
        SELECT
            COUNT(DISTINCT i.inqry_id)
        FROM
            inquiries i
        LEFT JOIN
            stores s ON s.store_id = i.inqry_store_id
        LEFT JOIN
            users u ON u.user_no = i.wrtr_id
        WHERE
            i.prcs_stts != 'DELETED'
        <if test="filterConditions != null and filterConditions.size() > 0">
            AND i.prcs_stts IN
            <foreach collection="filterConditions" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        <if test="searchValue != null and searchValue != ''">
            <choose>
                <when test="searchKey != null and searchKey != ''">
                    <choose>
                        <when test="searchKey == 'inquiryTitle'"> AND i.inqry_ttl LIKE CONCAT('%', #{searchValue}, '%') </when>
                        <when test="searchKey == 'inquiryContent'"> AND i.inqry_cn LIKE CONCAT('%', #{searchValue}, '%') </when>
                        <when test="searchKey == 'writerNickname'"> AND u.user_ncnm LIKE CONCAT('%', #{searchValue}, '%') </when>
                        <when test="searchKey == 'writerRealName'"> AND u.user_nm LIKE CONCAT('%', #{searchValue}, '%') </when>
                        <when test="searchKey == 'inqryId'"> AND i.inqry_id LIKE CONCAT('%', #{searchValue}, '%') </when>
                        <when test="searchKey == 'prcsStts'"> AND i.prcs_stts LIKE CONCAT('%', #{searchValue}, '%') </when>
                        <when test="searchKey == 'inqryStoreConm'"> AND s.store_conm LIKE CONCAT('%', #{searchValue}, '%') </when>
                    </choose>
                </when>
                <otherwise>
                    AND (
                        i.inqry_ttl LIKE CONCAT('%', #{searchValue}, '%') OR
                        i.inqry_cn LIKE CONCAT('%', #{searchValue}, '%') OR
                        u.user_ncnm LIKE CONCAT('%', #{searchValue}, '%') OR
                        u.user_nm LIKE CONCAT('%', #{searchValue}, '%') OR
                        i.inqry_id LIKE CONCAT('%', #{searchValue}, '%') OR
                        i.prcs_stts LIKE CONCAT('%', #{searchValue}, '%') OR
                        s.store_conm LIKE CONCAT('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>
        <if test="startDate != null and endDate != null">
            AND i.reg_ymd BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="inqryTypeCd != null and inqryTypeCd != ''">
            AND i.inqry_type_cd = #{inqryTypeCd}
        </if>
        <if test="inqryTrgtTypeCd != null and inqryTrgtTypeCd != ''">
            AND i.inqry_trgt_type_cd = #{inqryTrgtTypeCd}
        </if>
    </select>
    
    
   <!-- [핵심 수정 2] 삭제된 문의를 항상 제외하고, 필터 조건을 처리하도록 수정 -->
   <select id="getAdminInquiryList" resultMap="inquiryResultMap">
    SELECT
        i.inqry_id, i.inqry_type_cd, i.inqry_trgt_type_cd, i.wrtr_id,
        i.inqry_store_id, i.inqry_ttl, i.inqry_cn, i.prvt_yn,
        i.prcs_stts, i.prcs_user_no, i.reg_ymd, i.mdfcn_ymd,
        i.del_dt, i.del_user_no, i.del_actvtn_yn,
        s.store_id, s.aply_id, s.seller_user_no, s.store_conm,
        s.store_intro_cn, s.store_logo_img, s.store_stts, s.info_mdfcn_dt,
        s.del_prcr_yn,
        u.user_no, u.user_ncnm, u.user_lgn_id, u.user_nm,
        iim.inqry_img_id, iim.img_id, iim.inqry_id AS inquiry_image_inqry_id,
        iim.ord, stim.img_addr,
        a.ans_id, a.inqry_id AS answer_inqry_id, a.answr_user_no,
        a.ans_cn, a.ans_tm, a.answr_type_cd, a.rls_yn,
        a.last_mdfcn_dt, a.actvtn_yn, a.del_dt, a.del_user_no
    FROM inquiries i
    LEFT JOIN stores s ON s.store_id = i.inqry_store_id
    LEFT JOIN users u ON u.user_no = i.wrtr_id
    LEFT JOIN inquiry_images iim ON iim.inqry_id = i.inqry_id
    LEFT JOIN store_images stim ON stim.img_id = iim.img_id
    LEFT JOIN answer a ON a.inqry_id = i.inqry_id
    WHERE i.inqry_id IN (
        SELECT temp_inquiry.inqry_id FROM (
            SELECT i_sub.inqry_id
            FROM inquiries i_sub
            LEFT JOIN stores s_sub ON s_sub.store_id = i_sub.inqry_store_id
            LEFT JOIN users u_sub ON u_sub.user_no = i_sub.wrtr_id
            WHERE
                i_sub.prcs_stts != 'DELETED'
            <if test="inquiry.filterConditions != null and inquiry.filterConditions.size() > 0">
                AND i_sub.prcs_stts IN
                <foreach collection="inquiry.filterConditions" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="inquiry.searchValue != null and inquiry.searchValue != ''">
                <choose>
                    <when test="inquiry.searchKey != null and inquiry.searchKey != ''">
                        <choose>
                            <when test="inquiry.searchKey == 'inquiryTitle'"> AND i_sub.inqry_ttl LIKE CONCAT('%', #{inquiry.searchValue}, '%') </when>
                            <when test="inquiry.searchKey == 'inquiryContent'"> AND i_sub.inqry_cn LIKE CONCAT('%', #{inquiry.searchValue}, '%') </when>
                            <when test="inquiry.searchKey == 'writerNickname'"> AND u_sub.user_ncnm LIKE CONCAT('%', #{inquiry.searchValue}, '%') </when>
                            <when test="inquiry.searchKey == 'writerRealName'"> AND u_sub.user_nm LIKE CONCAT('%', #{inquiry.searchValue}, '%') </when>
                            <when test="inquiry.searchKey == 'inqryId'"> AND i_sub.inqry_id LIKE CONCAT('%', #{inquiry.searchValue}, '%') </when>
                            <when test="inquiry.searchKey == 'prcsStts'"> AND i_sub.prcs_stts LIKE CONCAT('%', #{inquiry.searchValue}, '%') </when>
                            <when test="inquiry.searchKey == 'inqryStoreConm'"> AND s_sub.store_conm LIKE CONCAT('%', #{inquiry.searchValue}, '%') </when>
                        </choose>
                    </when>
                    <otherwise>
                        AND (
                            i_sub.inqry_ttl LIKE CONCAT('%', #{inquiry.searchValue}, '%') OR
                            i_sub.inqry_cn LIKE CONCAT('%', #{inquiry.searchValue}, '%') OR
                            u_sub.user_ncnm LIKE CONCAT('%', #{inquiry.searchValue}, '%') OR
                            u_sub.user_nm LIKE CONCAT('%', #{inquiry.searchValue}, '%') OR
                            i_sub.inqry_id LIKE CONCAT('%', #{inquiry.searchValue}, '%') OR
                            i_sub.prcs_stts LIKE CONCAT('%', #{inquiry.searchValue}, '%') OR
                            s_sub.store_conm LIKE CONCAT('%', #{inquiry.searchValue}, '%')
                        )
                    </otherwise>
                </choose>
            </if>
            <if test="inquiry.startDate != null and inquiry.endDate != null">
                AND i_sub.reg_ymd BETWEEN #{inquiry.startDate} AND #{inquiry.endDate}
            </if>
            <if test="inquiry.inqryTypeCd != null and inquiry.inqryTypeCd != ''">
                AND i_sub.inqry_type_cd = #{inquiry.inqryTypeCd}
            </if>
            <if test="inquiry.inqryTrgtTypeCd != null and inquiry.inqryTrgtTypeCd != ''">
                AND i_sub.inqry_trgt_type_cd = #{inquiry.inqryTrgtTypeCd}
            </if>
            ORDER BY
                <choose>
                    <when test="inquiry.sortKey == 'inqryId'"> i_sub.inqry_id </when>
                    <when test="inquiry.sortKey == 'regYmd'"> i_sub.reg_ymd </when>
                    <otherwise> i_sub.reg_ymd </otherwise>
                </choose>
                <if test="inquiry.sortOrder != null and inquiry.sortOrder != ''"> ${inquiry.sortOrder} </if>
                <if test="inquiry.sortOrder == null or inquiry.sortOrder == ''"> DESC </if>
            LIMIT #{limitStart}, #{pageSize}
        ) AS temp_inquiry
    )
    ORDER BY
    <choose>
        <when test="inquiry.sortKey == 'inqryId'"> i.inqry_id </when>
        <when test="inquiry.sortKey == 'regYmd'"> i.reg_ymd </when>
        <otherwise> i.reg_ymd </otherwise>
    </choose>
    <if test="inquiry.sortOrder != null and inquiry.sortOrder != ''"> ${inquiry.sortOrder} </if>
    <if test="inquiry.sortOrder == null or inquiry.sortOrder == ''"> DESC </if>
</select>
    
    <update id="updateInquiryStatus" parameterType="map">
    UPDATE inquiries
    <set>
        <choose>
            <!-- 'DELETED' 상태일 경우 -->
            <when test="newStatus == 'DELETED'">
                prcs_stts = #{newStatus},
                del_actvtn_yn = 1,
                del_dt = NOW(),
                del_user_no = #{adminUserNo},
                mdfcn_ymd = NOW()
            </when>
            <!-- 그 외 상태(RECEIPT, COMPLETE, HIDDEN)일 경우 -->
            <otherwise>
                prcs_stts = #{newStatus},
                mdfcn_ymd = NOW(),
                prcs_user_no = #{adminUserNo},
                del_actvtn_yn = 0,
                del_dt = NULL,
                del_user_no = NULL
            </otherwise>
        </choose>
    </set>
    WHERE inqry_id IN
    <foreach collection="inquiryIds" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
</update>

    <select id="getInquiryById" parameterType="String" resultMap="inquiryResultMap">
        SELECT
            i.inqry_id,
            i.inqry_type_cd,
            i.inqry_trgt_type_cd,
            i.wrtr_id,
            i.inqry_store_id,
            i.inqry_ttl,
            i.inqry_cn,
            i.prvt_yn,
            i.prcs_stts,
            i.prcs_user_no,
            i.reg_ymd,
            i.mdfcn_ymd,
            i.del_dt,
            i.del_user_no,
            i.del_actvtn_yn,
            s.store_id,
            s.aply_id,
            s.seller_user_no,
            s.store_conm,
            s.store_intro_cn,
            s.store_logo_img,
            s.store_stts,
            s.info_mdfcn_dt,
            s.del_prcr_yn,
            u.user_no,
            u.user_ncnm,
            u.user_lgn_id,
            iim.inqry_img_id,
            iim.img_id,
            iim.inqry_id AS inquiry_image_inqry_id,
            iim.ord,
            stim.img_addr, a.ans_id,
            a.inqry_id AS answer_inqry_id,
            a.answr_user_no,
            a.ans_cn,
            a.ans_tm,
            a.answr_type_cd,
            a.rls_yn,
            a.last_mdfcn_dt,
            a.actvtn_yn,
            a.del_dt,
            a.del_user_no
        FROM
            inquiries i
        LEFT JOIN
            stores s ON s.store_id = i.inqry_store_id
        LEFT JOIN
            users u ON u.user_no = i.wrtr_id
        LEFT JOIN inquiry_images iim ON iim.inqry_id = i.inqry_id
        LEFT JOIN store_images stim ON stim.img_id = iim.img_id
        LEFT JOIN
            answer a ON a.inqry_id = i.inqry_id
        WHERE i.inqry_id = #{inqryId}
    </select>

    <insert id="insertInquiryAnswerHistory" parameterType="ks55team02.common.domain.inquiry.InquiryAnswerHistory">
        INSERT INTO inquiry_answer_history
        (
            ans_hstry_id,
            answer_id,
            inqry_id,
            prcs_user_no,
            chg_bfr_stts,
            chg_aftr_stts,
            chg_cn,
            chg_dt
        )
        VALUES
        (
            #{ansHstryId},
            #{answerId},
            #{inqryId},
            #{prcsUserNo},
            #{chgBfrStts},
            #{chgAftrStts},
            #{chgCn},
            NOW()
        )
    </insert>

    <select id="getMaxAnsHstryIdNumber" resultType="java.lang.Integer">
        SELECT
            MAX(CAST(SUBSTRING_INDEX(ans_hstry_id, '_', -1) AS UNSIGNED))
        FROM
            inquiry_answer_history
        WHERE
            ans_hstry_id LIKE 'ans_hstry_%'
    </select>

    <select id="getInquiryProcessStatus" parameterType="String" resultType="String">
        SELECT
            prcs_stts
        FROM
            inquiries
        WHERE
            inqry_id = #{inqryId}
    </select>
    
    <insert id="insertAnswer" parameterType="ks55team02.common.domain.inquiry.Answer">
        INSERT INTO answer
        (
            ans_id,
            inqry_id,
            answr_user_no,
            ans_cn,
            ans_tm,
            answr_type_cd,
            rls_yn,
            actvtn_yn
        )
        VALUES
        (
            #{ansId},
            #{inqryId},
            #{answrUserNo},
            #{ansCn},
            NOW(),
            #{answrTypeCd},
            #{rlsYn},
            #{actvtnYn}
        )
    </insert>

    <update id="updateAnswer" parameterType="ks55team02.common.domain.inquiry.Answer">
       UPDATE answer
        SET
            ans_cn = #{ansCn},
            last_mdfcn_dt = NOW()
        WHERE
            ans_id = #{ansId}
    </update>

    <select id="getAnswerById" parameterType="String" resultMap="answerResultMap">
        SELECT
            a.ans_id,
            a.inqry_id,
            a.answr_user_no,
            a.ans_cn,
            a.ans_tm,
            a.answr_type_cd,
            a.rls_yn,
            a.last_mdfcn_dt,
            a.actvtn_yn,
            a.del_dt,
            a.del_user_no
        FROM
            answer a
        WHERE
            a.ans_id = #{ansId}
    </select>

</mapper>