<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.seller.inquiry.mapper.SellerInquiryMapper">

    <resultMap id="storeResultMap" type="ks55team02.common.domain.store.Store">
        <id property="storeId"          column="store_id"/>
        <result property="aplyId"       column="aply_id"/>
        <result property="sellerUserNo" column="seller_user_no"/>
        <result property="storeConm"    column="store_conm"/>
        <result property="storeIntroCn" column="store_intro_cn"/>
        <result property="storeLogoImg" column="store_logo_img"/>
        <result property="storeStts"    column="store_stts"/>
        <result property="infoMdfcnDt"  column="info_mdfcn_dt"/>
        <result property="inactvtnDt"   column="inactvtn_dt"/>
        <result property="delPrcrYn"    column="del_prcr_yn"/>
    </resultMap>

    <resultMap id="inquiryUserResultMap" type="ks55team02.common.domain.inquiry.InquiryUser">
        <id property="userNo"       column="user_no"/>
        <result property="userNcnm" column="user_ncnm"/>
    </resultMap>

    <resultMap id="answerResultMap" type="ks55team02.common.domain.inquiry.Answer">
        <id property="ansId"        	column="ans_id"/>
        <result property="inqryId"      column="answer_inqry_id"/>
        <result property="answrUserNo"  column="answr_user_no"/>
        <result property="ansCn"        column="ans_cn"/>
        <result property="ansTm"        column="ans_tm"/>
        <result property="answrTypeCd"  column="answr_type_cd"/>
        <result property="rlsYn"        column="rls_yn"/>
        <result property="lastMdfcnDt"  column="last_mdfcn_dt"/>
        <result property="actvtnYn"     column="actvtn_yn"/>
        <result property="delDt"        column="del_dt"/>
        <result property="delUserNo"    column="del_user_no"/>
        </resultMap>

    <resultMap id="inquiryListResultMap" type="ks55team02.common.domain.inquiry.Inquiry">
        <id property="inqryId" column="inqry_id"/>
        <result property="inqryTypeCd" column="inqry_type_cd"/>
        <result property="inqryTrgtTypeCd" column="inqry_trgt_type_cd"/>
        <result property="wrtrId" column="wrtr_id"/>
        <result property="inqryStoreId" column="inqry_store_id"/>
        <result property="inqryTtl" column="inqry_ttl"/>
        <result property="inqryCn" column="inqry_cn"/>
        <result property="prvtYn" column="prvt_yn"/>
        <result property="prcsStts" column="prcs_stts"/>
        <result property="prcsUserNo" column="prcs_user_no"/>
        <result property="regYmd" column="reg_ymd"/>
        <result property="mdfcnYmd" column="mdfcn_ymd"/>
        <result property="delDt" column="del_dt"/>
        <result property="delUserNo" column="del_user_no"/>
        <result property="delActvtnYn" column="del_actvtn_yn"/>
        
        <association property="writerInfo" resultMap="inquiryUserResultMap"/>
        <association property="storeInfo" resultMap="storeResultMap"/>

        <collection property="inquiryImages" ofType="ks55team02.common.domain.inquiry.InquiryImage">
            <id property="inqryImgId" column="inqry_img_id"/>
            <result property="imgId" column="img_id"/>
            <result property="inqryId" column="inquiry_image_inqry_id"/>
            <result property="ord" column="ord"/>
            <association property="storeImage" javaType="ks55team02.common.domain.store.StoreImage">
                <result property="imgAddr" column="img_addr"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="inquiryDetailResultMap" type="ks55team02.common.domain.inquiry.Inquiry">
        <id property="inqryId" column="inqry_id"/>
        <result property="inqryTypeCd" column="inqry_type_cd"/>
        <result property="inqryTrgtTypeCd" column="inqry_trgt_type_cd"/>
        <result property="wrtrId" column="wrtr_id"/>
        <result property="inqryStoreId" column="inqry_store_id"/>
        <result property="inqryTtl" column="inqry_ttl"/>
        <result property="inqryCn" column="inqry_cn"/>
        <result property="prvtYn" column="prvt_yn"/>
        <result property="prcsStts" column="prcs_stts"/>
        <result property="prcsUserNo" column="prcs_user_no"/>
        <result property="regYmd" column="reg_ymd"/>
        <result property="mdfcnYmd" column="mdfcn_ymd"/>
        <result property="delDt" column="del_dt"/>
        <result property="delUserNo" column="del_user_no"/>
        <result property="delActvtnYn" column="del_actvtn_yn"/>
        
        <association property="writerInfo" resultMap="inquiryUserResultMap"/>
        <association property="storeInfo" resultMap="storeResultMap"/>
        <association property="answer" resultMap="answerResultMap" notNullColumn="ans_id"/>

        <collection property="inquiryImages" ofType="ks55team02.common.domain.inquiry.InquiryImage">
            <id property="inqryImgId" column="inqry_img_id"/>
            <result property="imgId" column="img_id"/>
            <result property="inqryId" column="inquiry_image_inqry_id"/>
            <result property="ord" column="ord"/>
            <association property="storeImage" javaType="ks55team02.common.domain.store.StoreImage">
                <result property="imgAddr" column="img_addr"/>
            </association>
        </collection>
    </resultMap>


    <select id="getSellerInquiryCnt" parameterType="ks55team02.common.domain.inquiry.Inquiry" resultType="int">
        SELECT
            COUNT(*)
        FROM
            inquiries
        WHERE
            inqry_store_id = #{inqryStoreId}
    </select>

    <select id="getSellerInquiryList" parameterType="map" resultMap="inquiryListResultMap">
        SELECT
            i.inqry_id,
            i.inqry_type_cd,
            i.inqry_trgt_type_cd,
            i.wrtr_id,
            i.inqry_store_id,
            i.inqry_ttl,
            i.inqry_cn,
            i.prvt_yn,
            i.prcs_stts,
            i.prcs_user_no,
            i.reg_ymd,
            i.mdfcn_ymd,
            i.del_dt,
            i.del_user_no,
            i.del_actvtn_yn,
            s.store_id,
            s.aply_id,
            s.seller_user_no,
            s.store_conm,
            s.store_intro_cn,
            s.store_logo_img,
            s.store_stts,
            s.info_mdfcn_dt,
            s.inactvtn_dt,
            s.del_prcr_yn,
            u.user_no,
            u.user_ncnm,
            iim.inqry_img_id,
            iim.img_id,
            iim.inqry_id AS inquiry_image_inqry_id,
            iim.ord,
            sim.img_addr
        FROM
            inquiries i
        JOIN
            stores s ON s.store_id = i.inqry_store_id
        LEFT JOIN
            users u ON u.user_no = i.wrtr_id
        LEFT JOIN inquiry_images iim ON iim.inqry_id = i.inqry_id
        LEFT JOIN store_images sim ON sim.img_id = iim.img_id
        WHERE i.inqry_store_id = #{inquiry.inqryStoreId}
        <if test="inquiry.searchKey != null and inquiry.searchKey == 'inqryTtl'">
            AND i.inqry_ttl LIKE CONCAT('%', #{inquiry.searchValue}, '%')
        </if>
        <if test="inquiry.searchKey != null and inquiry.searchKey == 'inqryCn'">
            AND i.inqry_cn LIKE CONCAT('%', #{inquiry.searchValue}, '%')
        </if>
        <if test="inquiry.searchKey != null and inquiry.searchKey == 'wrtrId'">
            AND u.user_ncnm LIKE CONCAT('%', #{inquiry.searchValue}, '%')
        </if>
        ORDER BY
        <choose>
            <when test="inquiry.sortKey == 'regYmd'">
                i.reg_ymd ${inquiry.sortOrder}
            </when>
            <otherwise>
                CAST(REGEXP_SUBSTR(i.inqry_id, '[0-9]+') AS UNSIGNED) DESC
            </otherwise>
        </choose>
        LIMIT #{limitStart}, #{pageSize}
    </select>

    <select id="getSellerInquiryByStoreId" parameterType="String" resultMap="inquiryDetailResultMap">
        SELECT
            i.inqry_id,
            i.inqry_type_cd,
            i.inqry_trgt_type_cd,
            i.wrtr_id,
            i.inqry_store_id,
            i.inqry_ttl,
            i.inqry_cn,
            i.prvt_yn,
            i.prcs_stts,
            i.prcs_user_no,
            i.reg_ymd,
            i.mdfcn_ymd,
            i.del_dt,
            i.del_user_no,
            i.del_actvtn_yn,
            s.store_id,
            s.aply_id,
            s.seller_user_no,
            s.store_conm,
            s.store_intro_cn,
            s.store_logo_img,
            s.store_stts,
            s.info_mdfcn_dt,
            s.inactvtn_dt,
            s.del_prcr_yn,
            u.user_no,
            u.user_ncnm,
            iim.inqry_img_id,
            iim.img_id,
            iim.inqry_id AS inquiry_image_inqry_id,
            iim.ord,
            sim.img_addr,

            a.ans_id,
            a.inqry_id AS answer_inqry_id,
            a.answr_user_no,
            a.ans_cn,
            a.ans_tm,
            a.answr_type_cd,
            a.rls_yn,
            a.last_mdfcn_dt,
            a.actvtn_yn,
            a.del_dt,
            a.del_user_no
            FROM
            inquiries i
        JOIN
            stores s ON s.store_id = i.inqry_store_id
        LEFT JOIN
            users u ON u.user_no = i.wrtr_id
        LEFT JOIN inquiry_images iim ON iim.inqry_id = i.inqry_id
        LEFT JOIN store_images sim ON sim.img_id = iim.img_id
        LEFT JOIN answer a ON a.inqry_id = i.inqry_id
        WHERE i.inqry_id = #{inqryId}
    </select>

    <select id="getSellerUserNoByStoreId" parameterType="String" resultType="String">
        SELECT
            seller_user_no
        FROM
            stores
        WHERE
            store_id = #{storeId}
    </select>
    
   
    <update id="updateInquiryProcessStatus" parameterType="map">
        UPDATE inquiries
        SET
            prcs_stts = #{prcsStts},
            mdfcn_ymd = NOW()
        WHERE
            inqry_id = #{inqryId}
    </update>

</mapper>