<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layoutMain}">
		
	 <head>
	 	<meta name="description" content="한국스마트정보교육원 ksmybatis" />	
	 	<link th:href="@{/admincss/assets/css/main.css?v=1.1}" rel="stylesheet" type="text/css" />
	 </head>
	 <!--/* 개발시 추가할 jsfile 영역 정의 */-->
	 <th:block layout:fragment="jsFile">
	 </th:block>
	 
	 <!--/* 개발시 추가할 스크립트 */-->
	 <th:block layout:fragment="jsScript">	 
	 </th:block>
	 <!-- 추가할 페이지 contents -->
	 <th:block layout:fragment="contents">
	 	<div class="content-header">
	 		<div>
		 		<h2 class="content-title card-totle">메인화면</h2>
	 		</div>
	 	</div>
	 </th:block>	
</html>