<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks55team02.customer.coupons.mapper.CouponMapper">

    <select id="getAvailableCoupons" parameterType="map" resultType="Coupons">
        </select>

    <select id="getAvailableCouponsCount" parameterType="map" resultType="int">
        </select>

    <select id="getMyCoupons" parameterType="map" resultType="UserCoupons">
        </select>

    <select id="getMyCouponsCount" parameterType="map" resultType="int">
        </select>

    <insert id="issueUserCoupon" parameterType="UserCoupons">
        </insert>

</mapper>