<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.customer.store.mapper.ReviewMapper">

    <resultMap id="productReviewResultMap" 		type="ks55team02.common.domain.store.ProductReview">
        <id property="reviewId" 				column="review_id"/>
        <result property="ordrDtlArtclNo" 		column="ordr_dtl_artcl_no"/>
        <result property="prchsrUserNo" 		column="prchsr_user_no"/>
        <result property="gdsNo" 				column="gds_no"/>
        <result property="ordrNo" 				column="ordr_no"/>
        <result property="evlScr" 				column="evl_scr"/>
        <result property="reviewCn" 			column="review_cn"/>
        <result property="wrtYmd" 				column="wrt_ymd"/>
        <result property="reviewStts" 			column="review_stts"/>
        <result property="lastMdfcnDt" 			column="last_mdfcn_dt"/>
        <result property="delDt" 				column="del_dt"/>
        <result property="delPrcrNo" 			column="del_prcr_no"/>
        <result property="helpdCnt" 			column="helpd_cnt"/>
        <result property="starRating" 			column="star_rating"/>
        
        <association property="user" 			javaType="ks55team02.common.domain.inquiry.InquiryUser">
		<id property="userNo" 					column="user_no"/>
        <result property="userNm" 				column="user_nm"/>
        <result property="userNcnm" 			column="user_ncnm"/>        
        </association>
        <association property="userProfile" 	javaType="ks55team02.customer.register.domain.UserProfile">
        <id property="userNo" 					column="user_no"/>
        <result property="prflImg" 				column="prfl_img"/>
        </association>
        
        <collection property="reviewImages" ofType="ks55team02.common.domain.store.ReviewImage">
        <id property="reviewImgId" column="review_img_id"/>
        <result property="imgId" column="img_id"/>
        <result property="ord" column="ord"/>
        <association property="storeImage" javaType="ks55team02.common.domain.store.StoreImage">
        <id property="imgId" column="img_id"/>
        <result property="imgAddr" column="img_addr"/>
        <result property="imgFileNm" column="img_file_nm"/>
        </association>
    	</collection>
        
    </resultMap>

    <resultMap id="reviewImageResultMap" 		type="ks55team02.common.domain.store.ReviewImage">
        <id property="reviewImgId" 				column="review_img_id"/>
        <result property="reviewId" 			column="review_id"/>
        <result property="imgId" 				column="img_id"/>
        <result property="ord" 					column="ord"/>
        
        <association property="storeImage" 		javaType="ks55team02.seller.products.domain.ProductImage">
            <id property="imgId" 				column="img_id"/>
            <result property="gdsNo" 			column="gds_no"/> 
            <result property="imgPath" 			column="img_path"/> 
            <result property="imgOrgNm" 		column="img_org_nm"/>
            <result property="imgUuidNm" 		column="img_uuid_nm"/>
        </association>
    </resultMap>


    <select id="selectReviewsByProductCode" parameterType="String" resultMap="productReviewResultMap">
    SELECT
        pr.review_id,
        pr.ordr_dtl_artcl_no,
        pr.prchsr_user_no,
        pr.gds_no,
        pr.ordr_no,
        pr.evl_scr,
        pr.review_cn,
        pr.wrt_ymd,
        pr.review_stts,
        pr.helpd_cnt,
        pr.star_rating,
        u.user_nm,
        u.user_ncnm,
        up.prfl_img,
        ri.review_img_id,
        ri.img_id,
        ri.ord,
        si.img_addr,     
        si.img_file_nm
    FROM
        ks55team02db.product_reviews AS pr
    JOIN
        ks55team02db.users AS u ON pr.prchsr_user_no = u.user_no
    LEFT JOIN
        ks55team02db.user_profiles AS up ON u.user_no = up.user_no
    -- LEFT JOIN을 사용해야 이미지가 없는 리뷰도 조회됨
    LEFT JOIN
        ks55team02db.review_images AS ri ON pr.review_id = ri.review_id
    LEFT JOIN
        ks55team02db.store_images AS si ON ri.img_id = si.img_id
    WHERE
        pr.gds_no = #{gdsNo}
        AND pr.review_stts = 1
    ORDER BY
        pr.wrt_ymd DESC, ri.ord ASC;
	</select>
	
	

</mapper>