<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.customer.inquiry.mapper.StoreImageMapper">

    <resultMap id="storeImageResultMap" type="ks55team02.customer.store.domain.StoreImage">
        <id property="imgId" 			column="img_id"/>
        <result property="imgAddr" 		column="img_addr"/>
        <result property="imgFileNm" 	column="img_file_nm"/>
        <result property="imgFileSz" 	column="img_file_sz"/>
        <result property="imgTypeCd" 	column="img_type_cd"/>
        <result property="regYmd" 		column="reg_ymd"/>
        <result property="delYn" 		column="del_yn"/>
    </resultMap>

    <insert id="insertStoreImage" parameterType="ks55team02.customer.store.domain.StoreImage">
        INSERT INTO 
     	   store_images(
	           img_id, 
	           img_addr, 
	           img_file_nm, 
	           img_file_sz, 
	           img_type_cd, 
	           reg_ymd, 
	           del_yn
        	) 
        VALUES (
            #{imgId}, #{imgAddr}, #{imgFileNm}, #{imgFileSz}, #{imgTypeCd}, #{regYmd}, #{delYn}
        )
    </insert>

    <select id="getStoreImageById" parameterType="string" resultMap="storeImageResultMap">
        SELECT * FROM store_images WHERE img_id = #{imgId}
    </select>

</mapper>