<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
	    <title th:text="${title}"></title>
	    <meta http-equiv="x-ua-compatible" content="ie=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <!-- Favicon -->
	    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicons/lookonfavicon2.png}" />
	    <!-- Plugins CSS File -->
    	<link rel="stylesheet"th:href="@{/maincss/assets/error/css/bootstrap.min.css}">
	    <!-- Template CSS -->
	    <link th:href="@{/maincss/assets/error/css/main.min.css}" rel="stylesheet" type="text/css" />
    </head>

    <body>
    	<div class="page-wrapper">
	        <main class="main" style="margin-top: 100px">
	        	<div class="error-content text-center" >
	            	<div class="container">
	            		<h1 class="error-title">Error 500</h1><!-- End .error-title -->
	            		<p>We are sorry, the page you've requested is not available.</p>
	            		<a href="/" class="btn btn-outline-primary-1 btn-minwidth-lg">
	            			<span>BACK TO HOMEPAGE</span>
	            			<i class="icon-long-arrow-right"></i>
	            		</a>
	            	</div><!-- End .container -->
	        	</div><!-- End .error-content text-center -->
	        </main><!-- End .main -->
	        <div class="screen-overlay"></div>
	    </div>
    </body>
</html>