<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks55team02.seller.login.mapper.SellerLoginMapper">

	<!-- 판매자 아이디로 조회 -->
    <select id="getSellerInfoById" parameterType="String" resultType="ks55team02.seller.login.domain.SellerInfo">
        SELECT
            user_no             AS userNo,
            user_lgn_id         AS userLgnId,
            user_pswd_encpt_val AS userPswd,
            user_nm             AS userNm,
            mbr_grd_cd          AS mbrGrdCd
        FROM
            users
        WHERE
            user_lgn_id = #{sellerId}
    </select>

</mapper>