<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/layoutMain}">

<!-- 1. 이 페이지 전용 CSS 파일들을 "cssFile" 프래그먼트에 정의합니다. -->
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet"
	th:href="@{/maincss/assets/mainSlide/mainSlide.css}" />
</head>

<!-- 2. 페이지의 실제 메인 콘텐츠를 "contents" 프래그먼트에 정의합니다. -->

<th:block layout:fragment="contents">
	<main class="main">

		<!-- 고유한 클래스명을 가진 슬라이더 컨테이너 -->
		<div class="main-page-slider-container">
			<div class="main-page-swiper swiper">
				<div class="swiper-wrapper">
					<!-- DB에서 가져온 상품 목록으로 슬라이드 동적 생성 -->
					<div class="swiper-slide" th:each="product : ${mainSlideProducts}">
						<a th:href="@{/products/detail/{id}(id=${product.gdsNo})}"> <img
							th:src="${product.thumbnailImagePath}" th:alt="${product.gdsNm}"
							onerror="this.onerror=null; this.src='/maincss/assets/images/no_image.jpg';">
							<div class="slide-content">
								<h3 th:text="${product.gdsNm}">상품명</h3>
								<p>
									<span th:text="${product.productCategory?.categoryName}">카테고리</span>
									<span
										th:if="${product.dscntRt != null and product.dscntRt > 0}">|</span>
									<span
										th:if="${product.dscntRt != null and product.dscntRt > 0}"
										th:text="'~' + ${#numbers.formatInteger(product.dscntRt, 0)} + '%'">할인율</span>
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>

			<!-- 슬라이더 컨트롤러 UI -->
			<div class="main-swiper-controls">
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<button class="swiper-autoplay-button">
					<span class="icon-pause">||</span> <span class="icon-play">▶</span>
				</button>
			</div>
		</div>
		
		<!-- 상품영역 -->
		<!-- main.html -->
		
		<!-- ⭐ 수정: Weekly Best 상품 목록 (고유 클래스명 사용) -->
		<div class="weekly-best-section">
			<div class="weekly-best-container">
				<div class="weekly-best-heading">
					<h2 class="weekly-best-title">Weekly Best</h2>
					<ul class="nav nav-pills justify-content-center" role="tablist">
						<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#new-all-tab" role="tab">전체상품</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#new-sale-tab" role="tab">할인</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#new-new-tab" role="tab">신상</a></li>
					</ul>
				</div>
				<div class="tab-content">
					<!-- 전체상품 탭 -->
					<div class="tab-pane fade show active" id="new-all-tab" role="tabpanel">
                        <div th:replace="~{customer/fragments/mainProductList :: productListFragment(${allTabProducts})}"></div>
                        <div class="weekly-best-more-link">
                            <a th:href="@{/customer/products/list}" class="btn btn-outline-dark-2"><span>더보러가기</span><i class="icon-long-arrow-right"></i></a>
                        </div>
					</div>
					<!-- 할인 탭 -->
					<div class="tab-pane fade" id="new-sale-tab" role="tabpanel">
                        <div th:replace="~{customer/fragments/mainProductList :: productListFragment(${saleTabProducts})}"></div>
                         <div class="weekly-best-more-link">
                            <a th:href="@{/customer/products/list(sortBy='discountDesc', discountRate='1')}" class="btn btn-outline-dark-2"><span>더보러가기</span><i class="icon-long-arrow-right"></i></a>
                        </div>
					</div>
					<!-- 신상 탭 -->
					<div class="tab-pane fade" id="new-new-tab" role="tabpanel">
                        <div th:replace="~{customer/fragments/mainProductList :: productListFragment(${newTabProducts})}"></div>
                         <div class="weekly-best-more-link">
                            <a th:href="@{/customer/products/list(isNewProductPage='true')}" class="btn btn-outline-dark-2"><span>더보러가기</span><i class="icon-long-arrow-right"></i></a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</main>
</th:block>

<!-- 3. 이 페이지 전용 JavaScript 파일들을 "jsScript" 프래그먼트에 정의합니다. -->
<th:block layout:fragment="jsScript">
	<script
		src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<!-- ⭐ 수정: th:src="@{/maincss/...}" 로 변경 -->
	<script th:src="@{/maincss/assets/mainSlide/mainSlide.js}"></script>
</th:block>
</html>