<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/layoutMain}">

<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet"
	th:href="@{/maincss/assets/mainSlide/mainSlide.css}" />
</head>

<th:block layout:fragment="contents">
	<main class="main">

		<!-- 메인 슬라이더 -->
		<div class="main-page-slider-container">
			<div class="main-page-swiper swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:each="product : ${mainSlideProducts}">
						<a th:href="@{/products/detail/{id}(id=${product.gdsNo})}"> <img
							th:src="${product.thumbnailImagePath}" th:alt="${product.gdsNm}"
							onerror="this.onerror=null; this.src='/maincss/assets/images/no_image.jpg';">
							<div class="slide-content">
								<h3 th:text="${product.gdsNm}">상품명</h3>
								<p>
									<span th:text="${product.productCategory?.categoryName}">카테고리</span>
									<span
										th:if="${product.dscntRt != null and product.dscntRt > 0}">|</span>
									<span
										th:if="${product.dscntRt != null and product.dscntRt > 0}"
										th:text="'~' + ${#numbers.formatInteger(product.dscntRt, 0)} + '%'">할인율</span>
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="main-swiper-controls">
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<button class="swiper-autoplay-button">
					<span class="icon-pause">||</span> <span class="icon-play">▶</span>
				</button>
			</div>
		</div>

		<!-- Weekly Best -->
		<div class="weekly-best-section">
			<div class="weekly-best-container">
				<div class="weekly-best-heading">
					<h2 class="weekly-best-title">Weekly Best</h2>
					<div class="weekly-best-more-link">
						<a th:href="@{/customer/products(type='sale')}"
							class="btn btn-outline-dark-2"> <span>더보기</span>
						</a>
					</div>
				</div>

				<div class="weekly-best-slider-container">
					<div class="swiper weekly-best-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide"
								th:each="product : ${weeklyBestProducts}">
								<div
									th:replace="~{customer/fragments/products :: productCardFragment(${product})}"></div>
							</div>
						</div>
					</div>
					<!-- 버튼에 고유 클래스 부여 -->
					<div class="swiper-button-prev weekly-best-button-prev"></div>
					<div class="swiper-button-next weekly-best-button-next"></div>
				</div>
			</div>
		</div>

		<!-- 세일 상품 -->
		<div class="sale-products-section">
			<div class="weekly-best-container container">
				<div class="weekly-best-heading">
					<h2 class="weekly-best-title">놓치기 아까운 특가 상품</h2>
					<div class="weekly-best-more-link">
						<a th:href="@{/customer/products(type='sale')}"
							class="btn btn-outline-dark-2"> <span>더보기</span><i
							class="icon-long-arrow-right"></i>
						</a>
					</div>
				</div>

				<div class="sale-products-slider-container">
					<div class="sale-products-swiper swiper">
						<div
							th:replace="~{customer/fragments/products :: saleProductsFragment(${saleProductList})}"></div>
					</div>
					<div class="swiper-button-prev sale-products-button-prev"></div>
					<div class="swiper-button-next sale-products-button-next"></div>
				</div>
				<div th:if="${saleProductList.isEmpty()}"
					class="col-12 text-center mt-4">
					<p>현재 특가 상품이 없습니다.</p>
				</div>
			</div>
		</div>

	</main>
</th:block>

<th:block layout:fragment="jsScript">
	<script
		src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script th:src="@{/maincss/assets/mainSlide/mainSlide.js}"></script>
</th:block>

</html>
